<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Add FAQ Item</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <% if (Object.keys(message).length> 0) { %> <% if
        (message.type==='success' ) { %>
        <div
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <strong> <%= message.msg %> </strong>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } else { %>
        <div
          class="alert alert-danger alert-dismissible fade show"
          role="alert"
        >
          <strong> <%= message.msg %> </strong>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% } %>
        <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
          <div class="widget-content-wrapper">
            <form action="/admin/faqs/create" method="POST">
              <div class="form-group">
                <label for="question">Question</label>
                <input id="question" class="form-control" name="question" required/>
              </div>
              <div class="form-group">
                <label for="answer">Answer</label>
                <textarea
                  id="answer"
                  cols="30"
                  rows="10"
                  class="form-control"
                  name="answer"
                  placeholder=""
                  required
                ></textarea>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-3"></div>
                <div class="col-md-6 col-sm-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    Add
                  </button>
                </div>
                <div class="col-md-3 col-sm-3"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
