<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Client Messages
            <div class="page-title-subheading">This is the section to Manage data , that will be used in the
              Sub Estate
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
    <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card">
          <div class="card-header">Client Info
          </div>
          <div class="table-responsive" style="padding: 10px;">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="client-message">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Client Name</th>
                  <th class="text-center">Client Email</th>
                  <th class="text-center">Client Message</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (data.length>0) { %>
                  <% data.forEach(element=> { %>
                    <tr>
                      <td>
                        <%= element._id %>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading">
                            <%= element.name %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading text-truncate">
                            <%= element.email %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading text-truncate">
                            <%= element.message %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <a role="button" class="btn btn-danger btn-sm"
                          href="<%= `/admin/client_messages/${element._id}/delete?_method=DELETE` %>"
                          onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                      </td>
                    </tr>
                    <% }) %>
                      <% } %>
              </tbody>
            </table>
          </div>
          <!-- <div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper">
              </i></button>
            <button class="btn-wide btn btn-success">Save</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>