<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Edit Mission Statement
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <% if (Object.keys(message).length> 0) { %>
          <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form action="<%=`/admin/abouts/missions/${data?._id }/update?_method=PUT`%>" method="POST"
                       >
                        <div class="form-group">
                          <label for="title">Mission Title</label>
                          <input id="title" type="text" class="form-control" name="title" value="<%= data?.title %>" required></input>
                        </div>
                        <div class="form-group">
                          <label for="mission">Mission Statement</label>
                          <textarea name="mission" id="mission" cols="30" rows="10" class="form-control" required><%= data?.mission %> </textarea>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3"></div>
                          <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                          </div>
                          <div class="col-md-3 col-sm-3"></div>
                        </div>

                      </form>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
      </div>
    </div>
  </div>
</div>