<footer class="site-footer footer-large  footer-dark	footer-wide">
    <div class="container call-to-action-wrap bg-no-repeat bg-center"
        style="background-image:url(images/background/bg-site.png);">
        <div class="p-a30 bg-primary ">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="call-to-action-left text-black">
                        <h4 class="text-uppercase m-b10 m-t0">Subscribe to our newsletter!</h4>
                        <span>Never Miss Anything From Garden of Peace Estates By Signing Up To Our Newsletter.</span>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="call-to-action-right">
                        <div class="widget_newsletter">
                            <div class="newsletter-bx">
                                <form role="search" method="post">
                                    <div class="input-group">
                                        <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL"
                                            type="text">
                                        <span class="input-group-btn">
                                            <button type="submit" class="site-button"><i
                                                    class="fa fa-paper-plane-o"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER BLOCKES START -->
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-4 col-md-7 col-sm-6">
                    <div class="widget widget_about">
                        <!--<h4 class="widget-title">About Company</h4>-->
                        <div class="logo-footer clearfix p-b15">
                            <a href="index.html"><img src="images/logo-dark.png" alt=""></a>
                        </div>
                        <p class="max-w400">Today we can tell you, thanks to your passion, hard work creativity, and
                            expertise, you delivered us the most beautiful house great looks.</p>

                        <ul class="social-icons  mt-social-links">
                            <li><a href="https://www.facebook.com/GOP_Estates-102905845458451/" class="facebook"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/p/CS4fffPjt3C/?utm_medium=copy_link"
                                    class="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://linkedin.com/in/gop-estates-32425721b" class="tumblr"><i
                                        class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/gop_estates/status/1431349654134927372?s=21"
                                    class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://youtube.com/channel/UCbsooBlVNuCtBPD7aCplSIg" class="youtube"><i
                                        class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- RESENT POST -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_address_outer">
                        <h4 class="widget-title">Contact Us</h4>
                        <ul class="widget_address">
                            <li>Plentyplus Homes & projects Banuso House, Plentyplus Suite 2nd Floor, 88/89, Broad
                                Street, By CBN, Lagos State.</li>
                            <li>info@gardenofestates.com</li>
                            <li>(+234) 814 300 0070</li>
                        </ul>

                    </div>
                </div>

                <!-- USEFUL LINKS -->
                <div class="col-lg-2 col-md-6 col-sm-6 footer-col-3">
                    <div class="widget widget_services inline-links">
                        <h4 class="widget-title">Useful links</h4>
                        <ul>
                            <li><a href="/about">About</a></li>
                            <li><a href="/listings">Listings</a></li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="mt-footer-bot-center">
                    <span class="copyrights-text">© 2018 Garden of Peace Estates. Designed By Onyx Data Systems.</span>
                </div>
            </div>
        </div>
    </div>
</footer>