<!-- META -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="" />

<!-- FAVICONS ICON -->
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />

<!-- PAGE TITLE HERE -->
<title>Garden of Peace Estates | <%- title %>
</title>

<!-- MOBILE SPECIFIC -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- BOOTSTRAP STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<!-- FONTAWESOME STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/fontawesome/css/font-awesome.min.css" />

<!-- OWL CAROUSEL STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">

<!-- MAGNIFIC POPUP STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/magnific-popup.min.css">

<!-- LOADER STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/loader.min.css">

<!-- FLATICON STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/flaticon.min.css">

<!-- MAIN STYLE SHEET -->
<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- REVOLUTION SLIDER CSS -->
<link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/settings.css">

<!-- REVOLUTION NAVIGATION STYLE -->
<link rel="stylesheet" type="text/css" href="/plugins/revolution/revolution/css/navigation.css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<style>
    .our-team-1 .profile-image img {
        vertical-align: top;
        position: relative;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    .image-effect-one img {
        max-width: 100%;
        width: 100%;
        vertical-align: top;
        height: 300px;
        object-fit: cover;
    }

    .mt-thum-bx img,
    .mt-post-thum img {
        width: 330px;
        height: 300px;
        object-fit: cover;
    }
    .mt-media img {
    height: 400px;
    margin-bottom: 20px;
}
</style>