<header class="site-header header-style-1">
  <div class="top-bar bg-gray">
    <div class="container">
      <div class="row">
        <div class="mt-topbar-right clearfix">
          <div class="appint-btn"><a href="#" class="site-button">Make an Appointment</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="sticky-header main-bar-wraper">
    <div class="main-bar bg-white">
      <div class="container">
        <div class="logo-header">
          <div class="logo-header-inner logo-header-one">
            <a href="/">
              <img src="images/logo-light.png" alt="" />
            </a>
          </div>
        </div>
        <!-- NAV Toggle Button -->
        <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- ETRA Nav -->
        <div class="extra-nav">
          <div class="extra-cell">
            <a href="#" class="contact-slide-show"><i class="fa fa-angle-left arrow-animation"></i></a>
          </div>
        </div>
        <!-- ETRA Nav -->

        <!-- Contact Nav -->
        <div class="contact-slide-hide " style="background-image:url(images/background/bg-5.png)">
          <div class="contact-nav">
            <a href="javascript:void(0)" class="contact_close">&times;</a>
            <div class="contact-nav-form p-a30">
              <div class="contact-info   m-b30">

                <div class="mt-icon-box-wraper center p-b30">
                  <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                  <div class="icon-content">
                    <h5 class="m-t0 font-weight-500">Phone number</h5>
                    <p>(+234) 814 300 0070</p>
                  </div>
                </div>

                <div class="mt-icon-box-wraper center p-b30">
                  <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                  <div class="icon-content">
                    <h5 class="m-t0 font-weight-500">Email address</h5>
                    <p>info@gardenofestates.com</p>
                  </div>
                </div>

                <div class="mt-icon-box-wraper center p-b30">
                  <div class="icon-xs m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                  <div class="icon-content">
                    <h5 class="m-t0 font-weight-500">Address info</h5>
                    <p>Plentyplus Suite 2nd Floor, 88/89, Broad
                      Street, By CBN, Lagos State.</p>
                  </div>
                </div>
              </div>
              <div class="full-social-bg">
                <ul>
                  <li><a href="https://www.facebook.com/GOP_Estates-102905845458451/" class="facebook"><i
                        class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/p/CS4fffPjt3C/?utm_medium=copy_link" class="instagram"><i
                        class="fa fa-instagram"></i></a></li>
                  <li><a href="http://linkedin.com/in/gop-estates-32425721b" class="tumblr"><i
                        class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://twitter.com/gop_estates/status/1431349654134927372?s=21" class="twitter"><i
                        class="fa fa-twitter"></i></a></li>
                  <li><a href="https://youtube.com/channel/UCbsooBlVNuCtBPD7aCplSIg" class="youtube"><i
                        class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
              <div class="text-center">
                <h4 class="font-weight-600">&copy; 2021 Garden Of Peace Estate</h4>
              </div>
            </div>
          </div>
        </div>

        <!-- MAIN Vav -->
        <div class="header-nav navbar-collapse collapse">
          <ul class=" nav navbar-nav">
            <li <% if (title==='Home' ) { %>
              class="active"
              <%} else { %>
                class=""
                <% } %> >
                  <a href="/">Home</a>
            </li>

            <li <% if (title==='About Us' ) { %>
              class="active"
              <%} else { %>
                class="nav-item"
                <% } %> >
                  <a href="/about">About us</a>
            </li>
            <li <% if (title==='Services' ) { %>
              class="active"
              <%} else { %>
                class=""
                <% } %> >
                  <a href="/services">Services</a>
            </li>
            <li <% if (title==='FAQ' ) { %>
              class="active"
              <%} else { %>
                class=""
                <% } %> >
                  <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="javascript:;">Listing Locations</a>
              <ul class="sub-menu">
                <% if (typeof listingLocation !=undefined) { %>
                  <% listingLocation.forEach(location=> { %>
                    <li><a href="/<%= location._id %>/home">
                        <%= location.title %>
                      </a></li>
                    <% }) %>
                      <% } else { %>
                        <li>
                          <a href="/">Lagos</a>
                        </li>
                        <% } %>
              </ul>
            </li>
            <li <% if (title==='Listings' ) { %>
              class="active"
              <%} else { %>
                class=""
                <% } %> >
                  <a href="/listings">Listings</a>
            </li>
            <li <% if (title==='Contact Us' ) { %>
              class="active"
              <%} else { %>
                class=""
                <% } %> >
                  <a href="/contact_us">Contact Us</a>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>
</header>