<script src="/js/jquery-1.12.4.min.js"></script><!-- JQUERY.MIN JS -->
<script src="/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->

<script src="/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->

<script src="/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
<script src="/js/counterup.min.js"></script><!-- COUNTERUP JS -->
<script src="/js/waypoints-sticky.min.js"></script><!-- COUNTERUP JS -->

<script src="/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->

<script src="/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->
<script src="/js/jquery.owl-filter.js"></script>

<script src="/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->



<script src="/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="/js/shortcode.js"></script><!-- SHORTCODE FUCTIONS  -->
<script src="/js/jquery.bgscroll.js"></script><!-- BACKGROUND SCROLL -->
<script src="/js/switcher.js"></script><!-- SWITCHER FUCTIONS  -->
<!-- REVOLUTION JS FILES -->

<script src="/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="/plugins/revolution/revolution/js/extensions/revolution-plugin.js"></script>
<!-- REVOLUTION SLIDER SCRIPT FILES -->
<script src="/js/rev-script-1.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASKe5Rq6tuB0d7xFp_Ja2Dc_ZlO715KH0&libraries=&v=weekly"
  async></script>

<script>
  function initMap(locations, center) {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 16,
      center,
      mapTypeId: "satellite",
    });

    const infowindow = new google.maps.InfoWindow({
      content: 'This Portion has been allocated / Sold',
    });

    locations.forEach(location => {
      const cityCircle = new google.maps.Circle({
        strokeColor: "#36F9FF",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#24e761",
        fillOpacity: 0.35,
        map,
        center: location?.location,
        radius: parseInt(location?.size)/2 ?? 0,
        zoom:16
      });
    });
  }

  $(document).ready(function () {
    loadLayoutData()
  });

  const loadLayoutData = async () => {
    const id = (window.location.href.split('/'))
    $.ajax({
      url: `/admin/listings/${id[3]}/load_layout`,
      processData: false,
      type: 'get',
      accepts: 'application/json',
      success: function ({ data }) {
        initMap(data.allocated, data.estate_gps)
      }, error: function (error) {
        console.log(error)
      }
    });
  }
</script>