<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Add About Message
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <% if (Object.keys(message).length> 0) { %>
          <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form action="/admin/admins/create" method="POST">
                        <div class="form-group">
                          <label for="fullname">Fullname</label>
                          <input id="fullname" class="form-control" name="fullname" required />
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input id="email" class="form-control" name="email" required />
                        </div>
                        <div class="form-group">
                          <label for="username">Username</label>
                          <input id="username" class="form-control" name="username" required />
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input id="password" class="form-control" name="password" required />
                        </div>
                        <div class="form-group">
                          <label for="c_password">Confirm Password</label>
                          <input id="c_password" class="form-control" name="c_password" required />
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3"></div>
                          <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                          </div>
                          <div class="col-md-3 col-sm-3"></div>
                        </div>

                      </form>
                    </div>
                  </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>