<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Slider Section
            <div class="page-title-subheading">This is the section to add Slider Items , that will be used in the
              Homepage
            </div>
          </div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block dropdown">
            <a role="button" href="/admin/sliders/create" aria-expanded="false" class="btn-shadow btn btn-info">
              <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-plus fa-w-20"></i>
              </span>
              Add New Slider
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xl-4">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/featured_images" class="text-white">
                <div class="widget-heading">Featured Images</div>
              </a>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span> <%= count.featured_images %> </span></div>
            </div>
          </div>
        </div>
      </div>
      </div> 
    <!-- table -->
    <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card">
          <div class="card-header">Sliders
          </div>
          <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Title</th>
                  <th>Caption</th>
                  <th class="text-center">Image</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (slides.length>0) { %>
                  <% slides.forEach(element=> { %>
                    <tr>
                      <td class="text-center text-muted">
                        <%= element._id %>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading">
                            <%= element.title %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading">
                            <%= element.caption %>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <img src="/uploads/<%= element.img_url %>" alt="slide_<%= element.no %>" class="img-thumbmail"
                          style="height: 100px;">
                      </td>
                      <td class="text-center">
                        <a role="button" class="btn btn-danger btn-sm"
                          href=<%=`/admin/sliders/${element._id}/delete?_method=DELETE` %> onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                        <a role="button" class="btn btn-success btn-sm"
                          href="/admin/sliders/<%= element._id%>/edit">Edit</a>
                      </td>
                    </tr>
                    <% }) %>

                      <% } else { %>
                        <div>
                          <td class="text-center text-muted">
                          </td>
                          <td class="text-center text-muted">
                            Nothing to show now
                          </td>
                          <td class="text-center text-muted">
                          </td>
                        </div>
                        <% } %>
              </tbody>
            </table>
          </div>
          <!-- <div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper">
              </i></button>
            <button class="btn-wide btn btn-success">Save</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>