<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Add New Listing Location
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
          <div class="widget-content-wrapper">
            <form id="msform" enctype="multipart/form-data" class="create_listing">
              <!-- progressbar -->
              <ul id="progressbar">
                <li class="active">Estate Info</li>
                <li>Estate Details</li>
                <li>Social Profile</li>
              </ul>
              <!-- fieldsets -->
              <fieldset>
                <h2 class="fs-title" style='text-align: center;'>Add New Sub Estate</h2>
                <h3 class="fs-subtitle" style='text-align: center;'>Step 1</h3>
                <div class="form-group">
                  <input type="text" class="form-control" name="title" id="tltle" placeholder="Estate Name" required />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="location" id="tltle" placeholder="Estate Location"
                    required />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="estate_gps" id="estate_gps"
                    placeholder="<%= `GPS Location e.g { 'lat': 6.5711, 'lng': 3.3374 }` %> " required />
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="summary" id="summary" placeholder="Short Description"
                    required></textarea>
                </div>
                <input type="button" name="next" class="next action-button" value="Next" />
              </fieldset>
              <fieldset>
                <h2 class="fs-title">Estate Details</h2>
                <h3 class="fs-subtitle">Features (Infrastructure) of the Estate</h3>
                <div class="field_wrapper">
                  <div class="form-group row">
                    <div class="col-md-11">
                      <input type="text" name="features[]" value="" required class="form-control"
                        placeholder="Estate Feature" />
                    </div>
                    <div class="col-md-1" style="align-self: center;">
                      <a href="javascript:void(0);" class="add_button" title="Add field"><i class="pe-7s-plus"></i></a>
                    </div>
                  </div>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
              </fieldset>
              <fieldset>
                <h2 class="fs-title">Social Profile</h2>
                <h3 class="fs-subtitle">Presence on the social network</h3>
                <div class="form-group">
                  <input type="url" name="twitter" placeholder="Twitter Profile Url" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="url" name="facebook" placeholder="Facebook Profile Url" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="url" name="instagram" placeholder="Instagram Profile Url" class="form-control" />
                </div>
                <div class="form-group">
                  <input type="email" name="email" placeholder="Email Address" class="form-control" />
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
                <!-- <input type="button" name="next" class="next action-button" value="Next" /> -->
              </fieldset>
            </form>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>