<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Listing Location Section

          </div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block dropdown">
            <a role="button" href="/admin/listings/create" aria-expanded="false" class="btn-shadow btn btn-info">
              <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-plus fa-w-20"></i>
              </span>
              Add New Listing Location
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
    <% if (Object.keys(messages).length> 0) { %>
      <% if (messages.info ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
            <%= messages.info %>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } else { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
              <%= messages.error %>
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% } %>
            <% } %>

              <div class="row">
                <div class="col-md-12">
                  <div class="main-card mb-3 card">
                    <div class="card-header">Listing Locations
                    </div>
                    <div class="table-responsive">
                      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>Title</th>
                            <th>Location</th>
                            <th>Summary</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (data.length>0) { %>
                            <% data.forEach(element=> { %>
                              <tr>
                                <td class="text-center text-muted">
                                  <%= element._id %>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.title %>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.location %>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.summary %>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-center">
                                  <img src="/uploads/<%= element.images[0] %>" alt="locations_<%= element.location%>"
                                    class="img-thumbmail" style="height: 100px;">
                                </td>
                                <td class="text-center">
                                  <a role="button" class="btn btn-danger btn-sm"
                                    href="<%= `/admin/listings/${element._id}/delete?_method=DELETE` %>"
                                    onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                      More Action
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item"
                                        href="/admin/listings/<%= element._id%>/upload_images">Upload Images</a>
                                      <a class="dropdown-item" href=>Upload Videos</a>
                                      <a class="dropdown-item"
                                        href="/admin/listings/<%= element._id%>/upload_layout">Upload
                                        Layout</a>
                                      <a class="dropdown-item" href="/admin/listings/<%= element._id%>/show">View
                                        Info</a>
                                      <a class="dropdown-item" href="/admin/listings/<%= element._id%>/edit">Edit
                                        Info</a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                              <% }) %>

                                <% } else { %>
                                  <div>
                                    <td class="text-center text-muted">
                                    </td>
                                    <td class="text-center text-muted">
                                      Nothing to show now
                                    </td>
                                    <td class="text-center text-muted">
                                    </td>
                                  </div>
                                  <% } %>
                        </tbody>
                      </table>
                    </div>
                    <!-- <div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper">
              </i></button>
            <button class="btn-wide btn btn-success">Save</button>
          </div> -->
                  </div>
                </div>
              </div>
  </div>
</div>