<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Estate Info
          </div>
        </div>
      </div>
    </div>
    <div class="message"></div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-shadow-success">
          <div class="widget-content-wrapper estate-info-wrapper">
            <h4 class="page-title-heading" style="text-align: center">Estate Info
            </h4>
            <div class="estate-info-body">
              <div>
                <h5>Estate Name</h5>
                <p>
                  <%= data.title %>
                </p>
              </div>
              <div>
                <h5>Estate Location</h5>
                <p>
                  <%= data.location %>
                </p>
              </div>
              <div>
                <h5>Estate Summary</h5>
                <p>
                  <%= data.summary %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-shadow-success">
          <div class="widget-content-wrapper estate-info-wrapper">
            <h4 class="page-title-heading" style="text-align: center;">Estate Feature
            </h4>

            <div class="estate-info-body">
              <% if (data.features) { %>
                <% data.features.forEach(feature=> { %>
                  <p>
                    <%= feature %>
                  </p>
                  <% }) %>
                    <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-shadow-success">
          <div class="widget-content-wrapper estate-info-wrapper">
            <h4 class="page-title-heading" style="text-align: center;">Estate Social Contact
            </h4>
            <div class="estate-info-body">
              <div>
                <h5>Facebook</h5>
                <a href="<%= data.socials?.facebook %>" target="_blank">
                  <%= data.socials?.facebook %>
                </a>
              </div>
              <div>
                <h5>Instagram</h5>
                <a href="<%= data.socials?.instagram %>" target="_blank">
                  <%= data.socials?.instagram %>
                </a>
              </div>
              <div>
                <h5>Twitter</h5>
                <a href="<%= data.socials?.twitter %>" target="_blank">
                  <%= data.socials?.twitter %>
                </a>
              </div>
              <div>
                <h5>Email</h5>
                <p>
                  <%= data.socials?.email %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Media Section</h3>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card-shadow-success">
          <div class="widget-content-wrapper estate-info-wrapper">
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div>Images

                  </div>
                </div>
                <div class="page-title-actions">
                  <div class="d-inline-block dropdown">
                    <a role="button" href="/admin/listings/<%= data._id%>/upload_images" aria-expanded="false"
                      class="btn-shadow btn btn-info">
                      <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-plus fa-w-20"></i>
                      </span>
                      Add Images
                    </a>
                  </div>
                </div>
              </div>
            </div>
            </h5>
            <div id="animated-thumbnails" class="flex-image">
              <% if (data.images.length>0) { %>
                <% data.images.forEach((image,index)=> { %>
                  <div>
                    <div data-src="/uploads/<%= image %> " id="image_<%= index %>">
                      <img src="/uploads/<%= image %> " alt=<%=`${data.slug}_${index}`%> class="img-responsive"/>
                    </div>
                    <div class="delete-icon" onclick="deleteImage('<%= image %>','<%= data._id %>','<%= index %>')">
                      <i class="fa fa-trash-alt"></i>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <p>No Images Uploaded</p>

                      <% } %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card-shadow-success">
          <div class="widget-content-wrapper estate-info-wrapper">
            <div class="app-page-title">
              <div class="page-title-wrapper">
                <div class="page-title-heading">
                  <div>Videos

                  </div>
                </div>
                <div class="page-title-actions">
                  <div class="d-inline-block dropdown">
                    <a role="button" href="/admin/listings/<%= data._id%>/upload_videos" aria-expanded="false"
                      class="btn-shadow btn btn-info">
                      <span class="btn-icon-wrapper pr-2 opacity-7">
                        <i class="fa fa-plus fa-w-20"></i>
                      </span>
                      Add Videos
                    </a>
                  </div>
                </div>
              </div>
            </div>
            </h5>
            <div id="video-gallery" class="flex-video">
              <% if (data.videos.length>0) { %>
                <% data.videos.forEach((videoLink,index)=> { %>
                  <div class="embed-responsive embed-responsive-16by9" id="video_<%= index %>">
                    <video src="/uploads/videos/<%= videoLink %>" controls class="embed-responsive-item"></video>
                    <div class="delete-icon" onclick="deleteVideo('<%= videoLink %>','<%= data._id %>','<%= index %>')">
                      <i class="fa fa-trash-alt"></i>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <p>No Videos Uploaded</p>
                      <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>