<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Upload Estate Layout
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5>Select A Place Copy and the Information </h5>
        <div id="gmap" style="height: 500px;">

        </div>
      </div>
      <div class=" col-md-6 message">
        <% if (Object.keys(message).length> 0) { %> <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form action="<%=`/admin/listings/${data?._id}/upload_layout?_method=PUT`%>" method="POST">
                        <div class="form-group">
                          <label for="allocated">GPS Location</label>
                          <input name="allocated" type="text" class="form-control" id="allocated" required
                            placeholder="Paste what you copy from the map">
                        </div>
                        <div class="form-group">
                          <label for="size">Portion Size in Meters</label>
                          <input name="size" type="text" class="form-control" id="size" required>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3"></div>
                          <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Upload</button>
                          </div>
                          <div class="col-md-3 col-sm-3"></div>
                        </div>
                      </form>
                    </div>
                  </div>
      </div>
    </div>
  </div>
</div>