<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Add New Listing Location
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <% if (Object.keys(message).length> 0) { %> <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form enctype="multipart/form-data" action="<%=`/admin/listings/${data?._id }/upload_images?_method=PUT`%>" method="POST">
                        <div>
                          <label for="images">Select Estate Images</label>
                          <input name="images" type="file" class="file" id="images" required accept="image/png,image/jpg,image/jpeg" style=" visibility: hidden;
                position: absolute;" multiple>
                          <div class="input-group my-3">
                            <input type="text" class="form-control" disabled placeholder="Upload Multiple Images" id="file">
                            <div class="input-group-append">
                              <button type="button" class="browse btn btn-primary">Browse...</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3"></div>
                          <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Upload</button>
                          </div>
                          <div class="col-md-3 col-sm-3"></div>
                        </div>
                      </form>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
      </div>
    </div>
  </div>
</div>