<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Welcome To Garden of Peace Estate
            <div class="page-title-subheading">This is the section to Manage data , that will be used in the
              Homepage
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/testimonies" class="text-white">
                <div class="widget-heading">Client Testimonies</div>
              </a>
            </div>

          </div>
        </div>
      </div>

      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/faqs" class="text-white">
                <div class="widget-heading">FAQ</div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/abouts/missions" class="text-white">
                <div class="widget-heading">Mission Statement</div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/abouts/values" class="text-white">
                <div class="widget-heading">Core Values</div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/teams" class="text-white">
                <div class="widget-heading">Teams</div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/listings" class="text-white">
                <div class="widget-heading">Listings</div>
              </a>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>