<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Admin Dashboard </title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
  <meta name="msapplication-tap-highlight" content="no">
  <link href="https://demo.dashboardpack.com/architectui-html-free/main.css" rel="stylesheet"> <!-- FAVICONS ICON -->
  <link href="/css/my-styles.css" rel="stylesheet"> <!-- FAVICONS ICON -->
  <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet"> <!-- FAVICONS ICON -->
  <link href="/css/jquery.dataTables.min.css" rel="stylesheet"> <!-- FAVICONS ICON -->
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/css/lightgallery.min.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <style>
    .widget-content-wrapper.estate-info-wrapper {
      background: white;
      padding: 20px 20px;
      border-radius: 5px;
    }

    .estate-info-body>div>h5 {
      font-weight: bold;
    }

    .flex-image,
    .flex-video {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 200px;
      justify-content: space-evenly;
      align-items: center;
    }

    .flex-video {
      flex-wrap: nowrap;
    }

    .flex-video>div {
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #5e82de;
      margin: 0px 5px;
    }

    .flex-image>div {
      width: auto;
      background-color: transparent;
      border-radius: 5px;
      border: 1px solid #5e82de;
      margin: 0px 5px;
      padding: 20px;
      position: relative;
    }

    .flex-image img,
    .flex-video video {
      object-fit: contain;
      width: 200px;
    }

    .delete-icon {
      color: red;
      font-size: 19px;
      position: absolute;
      z-index: 3;
      background: white;
      border: 1px solid;
      width: 30px;
      height: 30px;
      top: 20px;
      text-align: center;
      border-radius: 50%;
      left: 10px;
    }
  </style>
</head>

<body>
  <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <!-- navbar -->
    <%- include('./partials/_navbar'); %>

      <div class="app-main">
        <!-- sidebar -->
        <%- include('./partials/_sidebar'); %>

          <!-- main content -->
          <%- body %>
      </div>
  </div>
  <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/multi-form.js"></script>
  <script src="/js/lightgallery-all.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASKe5Rq6tuB0d7xFp_Ja2Dc_ZlO715KH0&libraries=&v=weekly&channel=2"
    async></script>
  <script type="text/javascript">

    $(document).ready(function () {
      $("input[type='submit'].btn").click(function () {
        var fileUpload = $("input[type='file']");
        if (parseInt(fileUpload.get(0).files.length) > 2) {
          alert("You can only upload a maximum of 2 files");
        }
      });

      $('.browse').click(function (e) {
        e.preventDefault();
        var file = $(this).parents().find(".file");
        file.trigger("click");
      });

      // data-table
      $('#client-biodata').DataTable({
        "scrollX": "100px",
        "scrollCollapse": true,
      });

      $('#client-message').DataTable({});
      // light-gallery
      $('#animated-thumbnails').lightGallery();

      loadLayoutData()


    });

    // delete videos 
    const deleteVideo = (video_url, estate_id, index) => {
      $.ajax({
        url: `/admin/listings/${estate_id}/delete_video?video=${video_url}`,
        processData: false,
        type: 'POST',
        accepts: 'application/json',
        // beforeSend: () => {
        //   $('.submit').text('Loading')
        // },
        success: function (data) {
          const selectedVideo = $("#video_" + index).remove()
          $('.message').prepend(` <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <strong>
                                  ${data.msg}
                                  </strong>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`)

        }, error: function (error) {
          $('.message').prepend(` <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  <strong>
                                  ${data.msg}
                                  </strong>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`)
        }
      });
    }

    const deleteImage = (image_url, estate_id, index) => {

      $.ajax({
        url: `/admin/listings/${estate_id}/delete_image?image=${image_url}`,
        processData: false,
        type: 'POST',
        accepts: 'application/json',
        // beforeSend: () => {
        //   $('.submit').text('Loading')
        // },
        success: function (data) {
          const selectedVideo = $("#image_" + index).remove()
          $('.message').prepend(` <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <strong>
                                  ${data.msg}
                                  </strong>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`)

        }, error: function (error) {
          $('.message').prepend(` <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  <strong>
                                  ${data.msg}
                                  </strong>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`)
        }
      });
    }

    $('input[type="file"]').change(function (e) {
      var fileName = e.target.files[0].name;
      $("#file").val(fileName);
      // var reader = new FileReader();
      // reader.onload = function (e) {
      //   // get loaded data and render thumbnail.
      //   document.getElementById("preview").src = e.target.result;
      // };
      // // read the image file as a data URL.
      // reader.readAsDataURL(this.files[0]);
    });


    // google maps
    function initMap(center) {

      const map = new google.maps.Map(document.getElementById("gmap"), {
        zoom: 15,
        center,
      });
      let infoWindow = new google.maps.InfoWindow({
        content: "Click the map to get Lat/Lng!",
        position: center,
      });

      infoWindow.open(map);
      map.addListener("click", (mapsMouseEvent) => {
        infoWindow.close();
        infoWindow = new google.maps.InfoWindow({
          position: mapsMouseEvent.latLng,
        });
        infoWindow.setContent(
          JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
        );
        infoWindow.open(map);
      });
    }

    const loadLayoutData = () => {
      const id = (window.location.href.split('/'))
      $.ajax({
        url: `/admin/listings/${id[5]}/load_layout`,
        processData: false,
        type: 'get',
        accepts: 'application/json',
        success: function ({ data }) {
          if (typeof data?.estate_gps === undefined || null) {
            $('.message').prepend(` <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                  <strong>
                                 You haven't Uploaded the Estate GPS Location Yet 
                                  </strong>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>`)
            return
          }
          initMap(data.estate_gps)
        }, error: function (error) {
          console.log(error)
        }
      });


    }
  </script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>