<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <title>Admin Login</title>

  <style>
    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }

    .form-signin .checkbox {
      font-weight: normal;
    }

    .form-signin .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .form-signin .form-control:focus {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: 20px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .account-wall {
      margin-top: 20px;
      padding: 40px 0px 20px 0px;
      background-color: #f7f7f7;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .login-title {
      color: #555;
      font-size: 18px;
      font-weight: 400;
      display: block;
    }

    .profile-img {
      width: 96px;
      height: 96px;
      margin: 0 auto 10px;
      display: block;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">

        <div class="account-wall">
          <% if (Object.keys(message).length> 0) { %>
            <% if (message.type==='success' ) { %>
              <div class="alert alert-success" role="alert" style="width: 90%; margin:0 auto">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type=" button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } else { %>
                <div class="alert alert-danger" role="alert" style="width: 90%; margin:0 auto">
                  <strong>
                    <%= message.msg %>
                  </strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% } %>
                  <% } %>
                    <h1 class="text-center login-title">Sign in to Continue</h1>
                    <img class="profile-img" src="/images/logo-light.png" alt="garden_of_peace_estate_logo">
                    <form class="form-signin" action="/admin/login" method="POST">
                      <input type="email" class="form-control" placeholder="Email" required autofocus name="email">
                      <input type="password" class="form-control" placeholder="Password" required name="password">
                      <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                      </button>
                    </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>