<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Edit Client Testimony
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <% if (Object.keys(message).length> 0) { %>
          <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form action="<%=`/admin/testimonies/${data?._id }/update?_method=PUT`%>" method="POST"
                        enctype="multipart/form-data">
                        <div class="form-group">
                          <label for="fullname">Client Fullname</label>
                          <input type="text" class="form-control" placeholder="Jane Doe" name="fullname" id="fullname"
                            required value=<%=data?.fullname %> >
                        </div>
                        <div class="form-group">
                          <label for="profession">Client Profession</label>
                          <input type="text" class="form-control" placeholder="Electrical Engineer" name="profession"
                            id="profession" required value=<%=data?.profession %> >
                        </div>
                        <div class="form-group">
                          <label for="testimony">Client Testimony</label>
                          <input type="text" class="form-control" placeholder="" name="testimony" id="testimony" required
                            value=<%=data?.testimony %>>
                        </div>
                        <div>
                          <label for="avatar">Personal Image</label>
                          <input name="avatar" type="file" class="file" id="avatar" accept="image/*" style=" visibility: hidden;
                            position: absolute;">
                          <div class="input-group my-3">
                            <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
                            <div class="input-group-append">
                              <button type="button" class="browse btn btn-primary">Browse...</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3"></div>
                          <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Update</button>
                          </div>
                          <div class="col-md-3 col-sm-3"></div>
                        </div>

                      </form>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
      </div>
    </div>
  </div>
</div>