<!-- INNER PAGE BANNER -->
<div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
  style="background-image:url(images/banner/1.jpg);">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="mt-bnr-inr-entry">
      <div class="banner-title-outer">
        <div class="banner-title-name">
          <h2 class="m-b0">Creating quality urban lifestyles, building stronger communities.</h2>
        </div>
      </div>
      <!-- BREADCRUMB ROW -->

      <div>
        <ul class="mt-breadcrumb breadcrumb-style-2">
          <li><a href="javascript:void(0);">Home</a></li>
          <li>About 1</li>
        </ul>
      </div>

      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-tb80 bg-white inner-page-padding">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-left">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">About</span> Company</h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->
    <div class="section-content ">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <div class="m-about ">
            <div class="owl-carousel about-us-carousel">
              <% if (slides.length) { %>

                <% slides.slice(2,5).forEach(slide=> { %>
                  <div class="item">
                    <div class="ow-img">
                      <a href="javascript:void(0);"><img src="/uploads/<%=slide.img_url%>" alt=""></a>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <!-- COLUMNS 1 -->
                      <div class="item">
                        <div class="ow-img">
                          <a href="javascript:void(0);"><img src="images/gallery/portrait/pic4.jpg" alt=""></a>
                        </div>
                      </div>
                      <% } %>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <div class="m-about-containt text-black p-t80">
            <div class="m-about-years bg-moving" style="background-image:url(images/background/line.png);">
              <span class="text-primary large-title">
                <%= general?.experience?general?.experience:10 %>
              </span>
              <span class="large-title-info">Years of Experience</span>
            </div>
            <h3 class="font-weight-600">
              <%= mission?.title? mission?.title:`Improving quality of life with an integrated unified
                approach.Improving quality of life with an integrated unified approach.` %>
            </h3>
            <p>
              <%= aboutUs?.about_us?aboutUs?.about_us:`Dummy text is also used to demonstrate the appearance of
                different typefaces and layouts, and in general the content of dummy text is nonsensical. Due to its
                widespread use texts. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputa cumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
                feugait nulla facilisi` %> .
            </p>
            <div class="author-info p-t20">

              <!-- <div class="author-signature">
                <img src="images/Signature%2bBlack.png" alt="Signature" width="150" />
              </div> -->

              <div class="author-name">
                <h4 class="m-t0">
                  <%= general?.ceo?general?.ceo: 'Gabriel Mathew' %>
                </h4>
                <p>CEO</p>
              </div>
              <a href="/contact_us" class="site-button btn-effect m-b15"><span>Get in touch</span></a>

            </div>



          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR SPECIALLIZATION START -->
<div class="section-full p-tb80 bg-white bg-repeat square_shape2 inner-page-padding"
  style="background-image:url(images/background/ptn-1.png)">

  <div class="container">

    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-left">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Speciallization
          </h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row">
        <% if (services.length>0) { %>
          <% services.slice(0,3).forEach((element,index)=> { %>
            <div class="col-md-3 col-sm-6">
              <div class="mt-icon-box-wraper m-b30">
                <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                  <span class="icon-count-number">
                    <%= index+1 %>
                  </span>
                  <!-- <div class="icon-md inline-icon m-b15 text-primary scale-in-center">
                    <span class="icon-cell"><img src="images/icon/crane-1.png" alt=""></span>
                  </div> -->
                  <div class="icon-content">
                    <h4 class="mt-tilte m-b25 text-wrapper">
                      <%= element?.service?element.service:`lorem Ipsum ` %>
                    </h4>
                    <p>
                      <%= element?.summary?element.summary:`lorem Ipsum available, but the majority have suffered
                        alteration in some form, by ious versi ons have evolved over the years, sometimes by accident`
                        %>
                    </p>
                    <a href="/services" class="site-button-link" data-hover="Read More">Read More <i
                        class="fa fa-angle-right arrow-animation"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
              <% } else { %>
                <% [1,2,3,4].forEach((element,index)=> { %>
                  <div class="col-md-3 col-sm-6">
                    <div class="mt-icon-box-wraper m-b30">
                      <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                        <span class="icon-count-number">
                          <%= index+1 %>
                        </span>
                        <!-- <div class="icon-md inline-icon m-b15 text-primary scale-in-center">
                          <span class="icon-cell"><img src="images/icon/crane-1.png" alt=""></span>
                        </div> -->
                        <div class="icon-content">
                          <h4 class="mt-tilte m-b25">Building <br>Construction</h4>
                          <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by
                            accident.
                          </p>
                          <a href="/services" class="site-button-link" data-hover="Read More">Read More <i
                              class="fa fa-angle-right arrow-animation"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <% } %>


      </div>
    </div>
  </div>

</div>
<!-- OUR SPECIALLIZATION END -->

<!-- OUR TEAM START -->
<div class="section-full p-t80 p-b50 bg-white inner-page-padding">
  <div class="container">

    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-left">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Team</h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE Team START -->
    <div class="section-content">
      <div class="row">
        <% if (teams.length>0) { %>
          <% teams.forEach(team=> { %>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30   ">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center"><img src="/uploads/<%= team.avatar %>"
                    alt="team_<%= team.fullname%>" />
                </div>
                <div class="figcaption">
                  <h4>
                    <%= team.fullname %>
                  </h4>
                  <h5>
                    <%= team.title %>
                  </h5>
                  <p>
                    <%= team.summary %>
                  </p>
                  <div class="icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"> <i class="fa fa-twitter"></i></a>
                    <a href="#"> <i class="fa fa-instagram"></i></a>
                    <a href="#"> <i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
              <% } else { %>
                <% [0,2,3].forEach(team=> { %>
                  <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                    <div class="our-team-1 hover-animation-1">
                      <div class="profile-image scale-in-center"><img src="images/our-team4/pic1.png" alt="" /></div>
                      <div class="figcaption">
                        <h4>Avie Beaton </h4>
                        <h5>Ceo & Architect</h5>
                        <p>Which is worse, that everyone has his price, or that the
                          price is
                          always so low.</p>
                        <div class="icons">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"> <i class="fa fa-twitter"></i></a>
                          <a href="#"> <i class="fa fa-instagram"></i></a>
                          <a href="#"> <i class="fa fa-linkedin"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                    <% } %>

      </div>


    </div>
  </div>


</div>

<!-- OUR TEAM END -->

<!-- OUR STORY SECTION START -->
<%# <div class="section-full p-t80 p-b80 bg-dark bg-repeat square_shape2 inner-page-padding"
  style="background-image:url(images/background/bg-6.png)">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-left">
        <div class="mt-separator text-white">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">About</span> Summary</h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <div class="section-content our-story">

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="our-story-pic-block">
            <div class="mt-media our-story-pic">
              <img src="images/gallery/portrait/pic4.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-6">
          <div class="mt-box our-story-detail bg-moving bg-cover"
            style="background-image:url(images/background/line.png)">
            <h4 class="text-uppercase m-b20">2011-12</h4>
            <h4 class="m-b20">Eisenhower Memoria</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. remaining essentially unchanged. </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="our-story-pic-block">
            <div class="mt-media our-story-pic">
              <img src="images/gallery/portrait/pic7.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-6">
          <div class="mt-box our-story-detail bg-moving bg-cover"
            style="background-image:url(images/background/line.png)">
            <h4 class="text-uppercase m-b20">2013-14</h4>
            <h4 class="m-b20">Columbia Sport Center</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. remaining essentially unchanged. </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="our-story-pic-block">
            <div class="mt-media our-story-pic">
              <img src="images/gallery/portrait/pic6.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-6">
          <div class="mt-box our-story-detail bg-moving bg-cover"
            style="background-image:url(images/background/line.png)">
            <h4 class="text-uppercase m-b20">2015-16</h4>
            <h4 class="m-b20">Park Boathouse</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. remaining essentially unchanged. </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="our-story-pic-block">
            <div class="mt-media our-story-pic">
              <img src="images/gallery/portrait/pic5.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-6">
          <div class="mt-box our-story-detail bg-moving bg-cover"
            style="background-image:url(images/background/line.png)">
            <h4 class="text-uppercase m-b20">2017-18</h4>
            <h4 class="m-b20">Museum Expansion</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. remaining essentially unchanged. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  %>