<!-- INNER PAGE BANNER -->
<div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
  style="background-image:url(/uploads/<%=estate.images[0]%>);">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="mt-bnr-inr-entry">
      <div class="banner-title-outer">
        <div class="banner-title-name">
          <h2 class="m-b0">
            <%= estate.title %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<div class="section-full p-t80 bg-white">
  <div class="container">
    <div class="section-content ">
      <div class="m-service-containt text-black">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="service-about-left">
              <div class="mt-media">
                <img src="/uploads/<%=estate?.images[1]%>" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="service-about-right m-b30">
              <h3 class="m-t0">
                <%= estate?.title?estate?.title:`In our work we have pride, quality is what we provide.` %>
              </h3>
              <p>
                <%= estate?.summary?estate?.summary:`Dummy text is also used to demonstrate the appearance of different
                  typefaces and layouts, and in general the content of dummy text is nonsensical. Due to its widespread
                  use texts. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                  ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputa cumsan et
                  iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
                  facilisi.` %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OUR SPECIALLIZATION START -->
<div class="section-full p-t80 p-b30 bg-dark" style="background-image:url(images/background/bg-6.png);">
  <div class="container">
    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="section-head m-b50 text-white text-center">

        <!-- <p>Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit, sed diam nonummy
          nibh suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> -->
      </div>
      <div class="row">
        <% if (estate?.images.length>0) { %>
          <% estate?.images.forEach((image,index)=> { %>
            <div class="col-md-4 col-sm-6 m-b30">
              <div class="image-effect-one hover-shadow">
                <img src="/uploads/<%=image%>" alt="" />
              </div>
            </div>

            <% }) %>
              <% } else { %>
                <div class="col-md-4 col-sm-6 m-b30">
                  <div class="image-effect-one hover-shadow">
                    <img src="images/services/1.jpg" alt="" />
                  </div>
                </div>
                <% } %>

      </div>
    </div>
  </div>
</div>
<!-- OUR SPECIALLIZATION END -->

<!-- OUR All SERVICES START -->
<div class="section-full p-t80 p-b50 bg-white" style="background-image:url(images/background/bg-5.png);">

  <div class="container">

    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Estate </span> Features
          </h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row">
        <% if (estate?.features.length>0) { %>
          <% estate?.features.forEach(feature=> { %>
            <div class="col-md-4 col-sm-6">
              <div class="mt-icon-box-wraper p-a30 center m-b30 box-shadow bg-white">
                <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-primary  scale-in-center bg-moving"
                  style="background-image:url(images/background/line.png)">
                  <span class="icon-cell text-secondry"><i class="flaticon-city"></i></span>
                </div>
                <div class="icon-content">
                  <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">
                    <%=feature %>
                  </h4>
                  <!-- <a href="#" class="site-button-link" data-hover="Read More">Read More <i
                      class="fa fa-angle-right arrow-animation"></i></a> -->
                </div>
              </div>
            </div>
            <% }) %>
              <% } else { %>
                <% [0,0,0].forEach(service=> { %>
                  <div class="col-md-4 col-sm-6">
                    <div class="mt-icon-box-wraper p-a30 center m-b30 box-shadow bg-white">
                      <div
                        class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-primary  scale-in-center bg-moving"
                        style="background-image:url(images/background/line.png)">
                        <span class="icon-cell text-secondry"><i class="flaticon-city"></i></span>
                      </div>
                      <div class="icon-content">
                        <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">Rooms & Halls</h4>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <% } %>
      </div>
    </div>

  </div>
</div>

<!-- OUR All SERVICES END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-parallax bg-cover" data-stellar-background-ratio="0.5"
  style="background-image:url(images/background/bg5.jpg);">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator text-white">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Estate Images</h2>
        </div>
      </div>
    </div>

    <!-- GALLERY CONTENT START -->
    <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
      <!-- COLUMNS 1 -->

      <% if (estate?.images.length>0) { %>
        <% estate?.images.slice(0,3).forEach(image=> { %>
          <div class="masonry-item cat-1  col-lg-3 col-md-4 col-sm-6 m-b30">
            <div class="project-classic">
              <div class="mt-box ">
                <div class="mt-thum-bx  img-center-icon  mt-img-overlay2">
                  <img src=<%=`/uploads/${image}`%> alt="">
                  <div class="overlay-bx">
                    <div class="overlay-icon">
                      <a href="#">
                        <i class="fa fa-external-link mt-icon-box-xs "></i>
                      </a>
                      <a class="mfp-link" href=<%=`/uploads/${image}`%>>
                        <i class="fa fa-arrows-alt mt-icon-box-xs"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
            <% } else { %>
              <% [1,2,3,6].forEach(element=> { %>
                <div class="masonry-item cat-1  col-lg-3 col-md-4 col-sm-6 m-b30">
                  <div class="project-classic">
                    <div class="mt-box ">
                      <div class="mt-thum-bx  img-center-icon  mt-img-overlay2">
                        <img src="images/projects/square/pic4.jpg" alt="">
                        <div class="overlay-bx">
                          <div class="overlay-icon">
                            <a href="#">
                              <i class="fa fa-external-link mt-icon-box-xs "></i>
                            </a>
                            <a class="mfp-link" href="images/projects/square/pic4.jpg">
                              <i class="fa fa-arrows-alt mt-icon-box-xs"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } %>


    </div>
    <div class="m-t50 text-center" style="margin-bottom: 50px;">
      <a href="/<%=estate?._id%>/media" class="site-button btn-effect">Continue</a>
    </div>
    <!-- GALLERY CONTENT END -->
  </div>


</div>
<!-- SECTION CONTENT END  -->