<!-- INNER PAGE BANNER -->
<div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
  style="background-image:url(images/banner/5.jpg);">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="mt-bnr-inr-entry">
      <div class="banner-title-outer">
        <div class="banner-title-name">
          <h2 class="m-b0">
            <%= estate.title %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION LAYOUT MAP START -->
<div class="section-full p-tb80 inner-page-padding">
  <div class="container">
    <div class="project-detail-outer">
      <div class="m-b0">
        <div class="row">
          <% if (estate?.images) { %>
            <% estate?.images.forEach(element=> { %>
              <div class="col-md-4 col-sm-4">
                <div class="project-detail-pic m-b30">
                  <div class="mt-media">
                    <img src="/uploads/<%=element%>" alt="">
                  </div>
                </div>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>

      <!-- TITLE START -->
      <div class="section-head" style="margin: 0px 30px 0 30px;">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator text-white">
            <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Estate Layout</h2>
          </div>
        </div>
      </div>

      <div class="project-detail-containt">
        <div id="map" style="height: 500px"></div>
      </div>

    </div>
  </div>
</div>
<!-- SECTION LAYOUT MAP END  -->

<!-- SECTION CONTENT START -->
<div class="section-full p-tb80 inner-page-padding">
  <div class="container">
    <div class="project-detail-outer">
      <!-- TITLE START -->
      <div class="section-head" style="margin: 0px 30px 0 30px;">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator text-white">
            <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Estate Video(s)</h2>
          </div>
        </div>
      </div>

      <div class="m-b30">
        <div class="row">
          <% if (estate?.videos) { %>
            <% estate?.videos.forEach(video=> { %>
              <div class="col-md-6">
                <div class="mt-box">
                  <div class="embed-responsive embed-responsive-16by9">
                    <video src="/uploads/videos/<%= video %>" controls class="embed-responsive-item"></video>
                  </div>
                </div>
              </div>
              <% }) %>
                <% } %>
        </div>
      </div>

      <div class="project-detail-containt">
        <div class="bg-white text-black">
          <h3 class="font-weight-600">
            <%= estate?.title %> ( <%= estate?.location %>)
          </h3>
          <p>
            <%= estate?.summary %>
          </p>
          <div class="m-b0">
            <div class="mt-divider divider-1px  bg-black"><i class="icon-dot c-square"></i></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>Connect With Us Via our Social Media Platforms</p>
              <ul class="social-icons social-square social-darkest m-b0">
                <li><a href="<%= socials?.facebook %>" target="_blank" class="fa fa-facebook">
                  </a></li>
                <li><a href="<%= socials?.twitter %>" target="_blank" class="fa fa-twitter"></a></li>
                <li><a href="mailto:<%= socials?.email %>" target="_blank" class="fa fa-envelope"></a></li>
                <li><a href="<%= socials?.instagram %>" class="fa fa-instagram" target="_blank"></a></li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="contact-home1-left bg-dark p-a30 m-b0">
                <h3 class="text-white m-t0"><span class="font-weight-100">Message Us</span> For More Details</h3>
                <form class="cons-contact-form2 form-transparent" method="post" id="message-request">
                  <input type="text" hidden value="<%= estate._id %>" name="estate_id">
                  <div class="input input-animate">
                    <label for="name">Name</label>
                    <input type="text" name="fullname" id="name" required>
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="Phone">Phone</label>
                    <input type="text" name="phone" id="Phone" required>
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="message">Textarea</label>
                    <textarea name="message" id="message" required></textarea>
                    <span class="spin"></span>
                  </div>

                  <div class="text-center p-t10">
                    <button type="submit" class="site-button btn-effect submit ">
                      Submit Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- SECTION CONTENT END  -->