<!-- INNER PAGE BANNER -->
<div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
  style="background-image:url(images/banner/4.jpg);">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="mt-bnr-inr-entry">
      <div class="banner-title-outer">
        <div class="banner-title-name">
          <h2 class="m-b0">frequently asked questions</h2>
        </div>
      </div>
      <!-- BREADCRUMB ROW -->

      <div>
        <ul class="mt-breadcrumb breadcrumb-style-2">
          <li><a href="javascript:void(0);">Home</a></li>
          <li>FAQ</li>
        </ul>
      </div>

      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENTG START -->
<div class="section-full p-t80 p-b80 inner-page-padding">
  <div class="container">
    <div class="faq-1 bg-gray  p-a50">
      <!-- TITLE START -->
      <div class="section-head">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator">
            <h2 class="text-uppercase sep-line-one ">FAQ</h2>
          </div>
        </div>
      </div>
      <!-- TITLE END -->



      <!-- Accordian -->
      <div class="mt-accordion acc-bg-white" id="accordion5">

       <% if (faqs.length>0) { %>
        <% faqs.forEach((faq,index) => { %>
          <div class="panel mt-panel">
            <div class="acod-head acc-actives">
              <h4 class="acod-title">
                <a data-toggle="collapse" href="<%= `#collapse_${index}` %>"  data-parent="#accordion5">
                  <%= faq?.question%> 
                  <span class="indicator"><i class="fa fa-plus"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapse_<%= index %>" class="acod-body collapse in">
              <div class="acod-content p-tb15">
               <%= faq?.answer %> 
              </div>
            </div>
          </div>
        <% }) %>
        <% } else { %>
          <div class="panel mt-panel">
            <div class="acod-head acc-actives">
              <h4 class="acod-title">
                <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5">
                  How do we work?
                  <span class="indicator"><i class="fa fa-plus"></i></span>
                </a>
              </h4>
            </div>
            <div id="collapseOne5" class="acod-body collapse in">
              <div class="acod-content p-tb15">
                Progressively generate synergistic total linkage through cross-media intellectual capital.
                Enthusiastically parallel task team building e-tailers without standards compliant initiatives.
                Progressively monetize client-centric outsourcing with excellent communities. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
              </div>
            </div>
          </div>
       <% } %>

      </div>
    </div>


  </div>
</div>
<!-- SECTION CONTENT END -->