<div class="page-content">


  <!-- SLIDER START -->
  <%- include('./partials/_slider'); %>
    <!-- SLIDER END -->

    <!-- OUR lising START -->
    <div class="section-full mobile-page-padding bg-white  p-t80 p-b30 bg-repeat square_shape1"
      style="background-image:url(images/background/bg-5.png);">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-white text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Listing
                  Location</span> </h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->
        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
          <div class="row">
            <% if (listingLocation) { %>
              <% listingLocation.forEach(location=> { %>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                  <div class="image-effect-one hover-shadow">
                    <img src="/uploads/<%= location.images[0] %> " alt="" />
                    <div class="figcaption">
                      <h4>
                        <%= location.title %>
                      </h4>
                      <p>
                        <%= location.summary %>
                      </p>
                      <a href="/<%= location.slug %>/home" target="_blank"><i class="link-plus bg-primary"></i></a>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } else { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                      <div class="image-effect-one hover-shadow">
                        <img src="images/pic1.jpg" alt="" />
                        <div class="figcaption">
                          <h4>Lagos ,Nigeria</h4>
                          <p>Very Affordable.</p>
                          <a href="#"><i class="link-plus bg-primary"></i></a>
                        </div>
                      </div>
                    </div>
                    <% } %>


                      <!-- <div class="col-lg-3 col-md-12 col-sm-6 m-b30">

            <div class="mt-box our-speciallization-content">
              <h3 class="m-t0"><span class="font-weight-100">Building</span> <br>It better in
                concrete.</h3>
              <p>When it comes to your house, don’t mess with the rest, trust the best. Making
                your vision come true, that is what we do.</p>
              <a class="site-button btn-effect">View Estate Location</a>
            </div>

          </div> -->
          </div>
        </div>
      </div>
      <div class="hilite-title text-right p-r50 text-uppercase text-pop-up-top">
        <strong>Welcome</strong>
      </div>
    </div>
    <!-- OUR lising END -->

    <!-- ABOUT COMPANY START -->
    <div class="section-full mobile-page-padding p-t80 p-b30 bg-dark bg-repeat square_shape2 bg-moving"
      style="background-image:url(images/background/bg-6.png)">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-white text-uppercase sep-line-one "><span
                  class="font-weight-300 text-primary">About</span> Company</h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->

        <div class="section-content">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div class="owl-carousel about-home owl-btn-vertical-center">
                <% if (slides.length>0) { %>
                  <% slides.slice(1,slides.length).forEach(element=> { %>
                    <div class="item ">
                      <div class="mt-img-effect zoom-slow">
                        <a href="javascript:void(0);"><img src=<%=`/uploads/${element.img_url}`%> alt=""></a>
                      </div>
                    </div>
                    <% }) %>
                      <% } else { %>
                        <% [0,1,2,3].forEach(element=> { %>
                          <div class="item ">
                            <div class="mt-img-effect zoom-slow">
                              <a href="javascript:void(0);"><img src="images/gallery/pic1.jpg" alt=""></a>
                            </div>
                          </div>
                          <% }) %>
                            <% } %>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="about-home-right bg-white p-a30">
                <h3 class="m-t0"><span class="font-weight-100">
                    <%= value?.title %>
                </h3>
                <%= aboutUs?.about_us %>
                  <div class="text-right">
                    <a href="/about" class="site-button-link" data-hover="Read More">Read More <i
                        class="fa fa-angle-right arrow-animation"></i></a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-uppercase hilite-dark">
        <strong>About</strong>
      </div>
    </div>
    <!-- ABOUT COMPANY END -->

    <!-- OUR VALUE START -->
    <div class="section-full mobile-page-padding p-t80 p-b30 bg-white">
      <div class="container">

        <div class="section-content">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <!-- TITLE START -->
              <div class="section-head">
                <div class="mt-separator-outer separator-left">
                  <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Value
                    </h2>
                  </div>
                  <p>
                    <%= value?.value %>
                  </p>
                </div>
              </div>
              <!-- TITLE END -->
              <div class="author-info p-t20">
                <div class="author-name">
                  <h4 class="m-t0">
                    <%= general?.ceo?general?.ceo:'Gabriel Mathew' %>
                  </h4>
                  <p>CEO</p>
                </div>
              </div>
              <!--     <div class="video-section-full bg-no-repeat bg-cover overlay-wraper"
                style="background-image:url(images/video-bg.jpg)">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="video-section-inner">
                  <div class="video-section-content">
                    <div class="video-section-left">
                      <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                        class="mfp-video play-now">
                        <i class="icon fa fa-play"></i>
                        <span class="ripple"></span>
                      </a>
                    </div>
                    <div class="video-section-right">
                      <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                        class="mfp-video font-weight-600 text-uppercase">Video
                        Presentation</a>
                    </div>
                  </div>
                </div>
              </div>
 -->
            </div>
            <div class="col-md-3 col-sm-6">

              <div class="mt-count m-b30 text-white mt-icon-box-wraper center  bg-dark p-a20">
                <div class="counter font-30 font-weight-800 m-b15 text-primary">
                  <%= general?.expert_no?general?.expert_no:450 %>
                </div>
                <h4 class="m-tb0">Active Experts</h4>
              </div>
              <div class="mt-count m-b30 text-white mt-icon-box-wraper center  bg-dark p-a20">
                <div class="counter font-30 font-weight-800 m-b15  text-primary">
                  <%= general?.client_no?general?.client_no:40 %>
                </div>
                <h4 class="m-tb0">Satisfied Clients</h4>
              </div>
              <div class="mt-count m-b30 text-white mt-icon-box-wraper center  bg-dark p-a20">
                <div class="counter font-30 font-weight-800 m-b15 text-primary">
                  <%= general?.project_no?general?.project_no:450 %>
                </div>
                <h4 class="m-tb0">Property Sold</h4>
              </div>
            </div>
            <div class="col-md-5 col-sm-6">
              <div class="p-b0">
                <div class="mt-box">
                  <h3 class="m-t0"><span class="font-weight-100"> We have</span><span class="text-primary">
                      <%= general?.experience?general?.experience:450 %> years
                    </span> experience in Real Estate</h3>
                </div>
                <% if (services.length>0) { %>
                  <% services.forEach(service=> { %>
                    <span class="progressText text-black"><B>
                        <%= service.service %>
                      </B></span>
                    <div class="progress mt-probar-1  m-b30 m-t10">
                      <div class="progress-bar bg-primary " role="progressbar" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100">
                        <span class="popOver" data-toggle="tooltips" data-placement="top" title="85%"></span>
                      </div>
                    </div>
                    <% }) %>
                      <% } else { %>
                        <span class="progressText text-black"><B>
                            PROPERTY INVESTMENT
                          </B></span>
                        <div class="progress mt-probar-1  m-b30 m-t10">
                          <div class="progress-bar bg-primary " role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100">
                            <span class="popOver" data-toggle="tooltips" data-placement="top" title="85%"></span>
                          </div>
                        </div><span class="progressText text-black"><B>
                            Housing Products
                          </B></span>
                        <div class="progress mt-probar-1  m-b30 m-t10">
                          <div class="progress-bar bg-primary " role="progressbar" aria-valuenow="85" aria-valuemin="0"
                            aria-valuemax="100">
                            <span class="popOver" data-toggle="tooltips" data-placement="top" title="85%"></span>
                          </div>
                        </div>
                        <% } %>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- OUR VALUE END -->

    <!-- OUR MISSION START -->
    <div
      class="section-full mobile-page-padding mission-outer-section  p-t80 p-b30 bg-gray bg-no-repeat bg-right-center"
      style="background-image:url(images/left-men.png), url(images/background/bg-4.png); ">
      <div class="section-content">
        <div class="container">
          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-center">
              <div class="mt-separator">
                <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Mission
                </h2>
              </div>
            </div>
          </div>
          <!-- TITLE END -->

          <div class="row">
            <div class="col-md-5 col-sm-6">
              <div class="mission-left bg-white m-b30 p-a30 bg-no-repeat bg-bottom-left"
                style="background-image:url(images/background/bg-site.png);">
                <h3 class="m-t0"><span class="font-weight-100"> <b>
                      <%= mission?.title?mission.title: `Site Areas what we serve` %>
                    </b>
                </h3>
                <p>
                  <%= mission?.mission?mission.mission:`lorem Ipsum available, but the majority have suffered alteration
                    in some form, by ious versi ons have evolved over the years, sometimes by accident` %>
                </p>
                <ul class="list-angle-right anchor-line">
                  <% if (services.length>0) { %>
                    <% services.forEach(element=> { %>
                      <li><a href="#">
                          <%= element.service %>
                        </a></li>
                      <% }) %>
                        <% } else { %>
                          <li><a href="#">Property Listing</a></li>
                          <li><a href="#">Property Listing</a></li>
                          <li><a href="#">Property Listing</a></li>
                          <li><a href="#">Property Listing</a></li>
                          <% } %>
                </ul>
                <div class="text-right">
                  <a href="/about" class="site-button-link" data-hover="Read More">Read More <i
                      class="fa fa-angle-right arrow-animation"></i></a>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4 col-sm-6">
              <div class="mission-mid bg-no-repeat bg-cover m-b30"
                style=<%=`background-image:url(/uploads/${featured_images[0]?.image})`%> ></div>
            </div> -->
            <!-- contact form -->
            <div class="col-md-5 col-sm-12">
              <div class="contact-home1-left bg-dark p-a30 m-b0">
                <h3 class="text-white m-t0"><span class="font-weight-100">Get In</span> Touch</h3>
                <form class="cons-contact-form2 form-transparent" method="post" action="/contact_us">

                  <div class="input input-animate">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                    <span class="spin"></span>
                  </div>

                  <!-- <div class="input input-animate">
                    <label for="Phone">Phone</label>
                    <input type="text" name="phone" id="Phone" required>
                    <span class="spin"></span>
                  </div> -->

                  <div class="input input-animate">
                    <label for="message">Textarea</label>
                    <textarea name="message" id="message" required></textarea>
                    <span class="spin"></span>
                  </div>

                  <div class="text-center p-t10">
                    <button type="submit" class="site-button btn-effect ">
                      Submit Now
                    </button>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong>Mission</strong>
      </div>
    </div>
    <!-- OUR MISSION  END -->

    <!-- OUR SERVICES START -->
    <div class="section-full p-t80 p-b50 bg-white mobile-page-padding"
      style="background-image:url(images/background/ptn-1.png)">
      <div class="section-content">

        <div class="container">
          <!-- TITLE START -->
          <div class="section-head m-b50">
            <div class="mt-separator-outer separator-left">
              <div class="mt-separator">
                <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Services
                </h2>
              </div>
            </div>
            <h3>There are many variations of passages of Lorem Ipsum available, but the majority have
              suffered alteration</h3>
          </div>
          <!-- TITLE END -->

          <div class="row services-v2 no-col-gap">
            <div>

              <% if (services.length>0) { %>
                <% services.slice(0,3).forEach(element=> { %>
                  <div class="col-md-3 col-sm-6 col-xs-6 col-xs-100pc">

                    <div class="mt-icon-box-wraper bdr-l-1 bdr-solid bdr-gray">
                      <div class="relative  p-a30">

                        <div class="icon-md inline-icon m-b15 text-primary scale-in-center">
                          <!-- <span class="icon-cell"><img src="images/icon/crane-1.png"
                                                            alt=""></span> -->
                        </div>
                        <div class="icon-content">
                          <h4 class="mt-tilte m-b25 text-wrapper">
                            <%= element?.service?element.service:`lorem Ipsum ` %>
                          </h4>
                          <p>
                            <%= element?.summary?element.summary:`lorem Ipsum available, but the majority have suffered
                              alteration in some form, by ious versi ons have evolved over the years, sometimes by
                              accident` %>
                          </p>
                          <a href="/services" class="site-button-link" data-hover="Read More">Read
                            More <i class="fa fa-angle-right arrow-animation"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <% [1,2,3,4].forEach(element=> { %>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xs-100pc">

                          <div class="mt-icon-box-wraper bdr-l-1 bdr-solid bdr-gray">
                            <div class="relative  p-a30">

                              <div class="icon-md inline-icon m-b15 text-primary scale-in-center">
                                <!-- <span class="icon-cell"><img
                                                                        src="images/icon/crane-1.png" alt=""></span> -->
                              </div>
                              <div class="icon-content">
                                <h4 class="mt-tilte m-b25">Building <br>Construction
                                </h4>
                                <p>lorem Ipsum available, but the
                                  majority have suffered alteration in some form,</p>
                                <a href="/services" class="site-button-link" data-hover="Read More">Read More <i
                                    class="fa fa-angle-right arrow-animation"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }) %>
                          <% } %>

            </div>



          </div>

        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong>Services</strong>
      </div>
    </div>
    <!-- OUR SERVICES  END -->




    <!-- OUR TEAM START -->
    <div class="section-full p-t80 p-b50 bg-white inner-page-padding">
      <div class="container">

        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-left">
            <div class="mt-separator">
              <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Team</h2>
            </div>
          </div>

          <h3>There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration</h3>
        </div>
        <!-- TITLE END -->

        <!-- IMAGE Team START -->
        <div class="section-content">
          <div class="row">
            <% if (teams.length>0) { %>
              <% teams.forEach(team=> { %>
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30   ">
                  <div class="our-team-1 hover-animation-1">
                    <div class="profile-image scale-in-center"><img src="/uploads/<%= team.avatar %>"
                        alt="team_<%= team.fullname%>" />
                    </div>
                    <div class="figcaption">
                      <h4>
                        <%= team.fullname %>
                      </h4>
                      <h5>
                        <%= team.title %>
                      </h5>
                      <p>
                        <%= team.summary %>
                      </p>
                      <div class="icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"> <i class="fa fa-twitter"></i></a>
                        <a href="#"> <i class="fa fa-instagram"></i></a>
                        <a href="#"> <i class="fa fa-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
                  <% } else { %>
                    <% [0,2,3].forEach(team=> { %>
                      <div class="col-md-4 col-sm-6 col-xs-6 col-xs-100pc m-b30">
                        <div class="our-team-1 hover-animation-1">
                          <div class="profile-image scale-in-center"><img src="images/our-team4/pic1.png" alt="" />
                          </div>
                          <div class="figcaption">
                            <h4>Avie Beaton </h4>
                            <h5>Ceo & Architect</h5>
                            <p>Which is worse, that everyone has his price, or that the
                              price is
                              always so low.</p>
                            <div class="icons">
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"> <i class="fa fa-twitter"></i></a>
                              <a href="#"> <i class="fa fa-instagram"></i></a>
                              <a href="#"> <i class="fa fa-linkedin"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% }) %>

                        <% } %>
          </div>
        </div>

        <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
          <strong>Teams</strong>
        </div>
      </div>
    </div>
</div>

</div>
<!-- OUR TEAM END -->

<!-- CALL US SECTION START -->
<div class="section-full mobile-page-padding p-tb80 overlay-wraper bg-cover bg-center"
  style="background-image:url(images/background/bg-1.jpg)">
  <div class="overlay-main bg-primary opacity-07"></div>
  <div class="container">

    <div class="section-content">
      <div class="call-us-section text-center">
        <h4 class="m-b15">Let's work together</h4>
        <h2 class="call-us-number m-b15 m-b0">(+234)-814-300-0070</h2>
        <h4 class="call-us-address m-t0 m-b20">Plentyplus Suite 2nd Floor, 88/89, Broad Street, By
          CBN, Lagos State</h4>
        <a href="#" class="site-button-secondry btn-effect bg-dark">Contact Us</a>
      </div>
    </div>

  </div>
</div>
<!-- CALL US SECTION END -->

<%# <!-- OUR PROJECT START -->
  <div class="section-full mobile-page-padding p-t80 p-b30 square_shape2">
    <div class="container">
      <!-- TITLE START -->
      <div class="section-head">
        <div class="mt-separator-outer separator-left">
          <div class="mt-separator">
            <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span>
              Project</h2>
          </div>
        </div>
      </div>
      <!-- TITLE END -->

      <div class="section-content">

        <div class="portfolio-wrap row mfp-gallery product-stamp clearfix">
          <!-- COLUMNS 1 -->
          <div class="stamp col-md-3 col-sm-6 m-b30">
            <div class="bg-gray p-a30">
              <div class="filter-wrap">
                <ul class="filter-navigation masonry-filter text-uppercase">
                  <li class="active"><a data-filter="*" data-hover="All" href="#">All</a></li>
                  <li><a data-filter=".cat-1" data-hover="Commercial" href="javascript:;">Commercial</a>
                  </li>
                  <li><a data-filter=".cat-4" data-hover="Education" href="javascript:;">Education</a>
                  </li>
                  <li><a data-filter=".cat-2" data-hover="Hospital" href="javascript:;">Hospital
                    </a>
                  </li>
                  <li><a data-filter=".cat-3" data-hover="Residentia" href="javascript:;">Residentia</a>
                  </li>
                  <li><a data-filter=".cat-5" data-hover="Office" href="javascript:;">Office</a>
                  </li>
                  <li><a data-filter=".cat-6" data-hover="Reconstruction" href="javascript:;">Reconstruction </a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- COLUMNS 2 -->
          <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic1.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Chair Furniture</h4>
                <p class="m-b0">Muscat, Sultanate of Oman</p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 3 -->
          <div class="masonry-item  cat-2 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic2.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Furniture</h4>
                <p class="m-b0">North House</p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 4 -->
          <div class="masonry-item  cat-6 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic3.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Living room</h4>
                <p class="m-b0">Aqaba, Jordan</p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 5 -->
          <div class="masonry-item  cat-6 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic4.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Dream Workspace</h4>
                <p class="m-b0">Perth, Australia </p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 6 -->
          <div class="masonry-item  cat-3 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic5.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Decore</h4>
                <p class="m-b0">Aqaba, Jordan</p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 7 -->
          <div class="masonry-item  cat-3 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic6.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Modern Decoration</h4>
                <p class="m-b0">Muscat, Sultanate of Oman</p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 8 -->
          <div class="masonry-item  cat-1 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/portrait/pic7.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Bathroom</h4>
                <p class="m-b0">North House</p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 11 -->
          <div class="masonry-item  cat-6 col-md-6 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/pic-l-5.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Lamp decoration</h4>
                <p class="m-b0">Aqaba, Jordan</p>
              </div>
              <a href="#"></a>
            </div>
          </div>


          <!-- COLUMNS 9 -->
          <div class="masonry-item  cat-5 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/pic-1.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Building house</h4>
                <p class="m-b0">Ultanate of Oman </p>
              </div>
              <a href="#"></a>
            </div>
          </div>

          <!-- COLUMNS 10 -->
          <div class="masonry-item  cat-4 col-md-3 col-sm-6 m-b30">
            <div class="mt-box   image-hover-block">
              <div class="mt-thum-bx">
                <img src="images/projects/pic-2.jpg" alt="">
              </div>
              <div class="mt-info  p-t20 text-white">
                <h4 class="mt-tilte m-b10 m-t0">Spa residence</h4>
                <p class="m-b0">Perth, Australia </p>
              </div>
              <a href="#"></a>
            </div>
          </div>


        </div>

      </div>

    </div>
    <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
      <strong>Projects</strong>
    </div>
  </div>
  <!-- OUR PROJECT END -->
  %>

  <!-- OUR LATEST LISTINGS -->
  <div class="section-full mobile-page-padding p-t80 p-b30 square_shape1 bg-parallax bg-cover"
    data-stellar-background-ratio="0.5" style="background-image:url(images/background/bg5.jpg);">
    <div class="container">

      <!-- TITLE START -->
      <div class="section-head ">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator">
            <h2 class="text-white text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Latest</span>
              Listings</h2>
          </div>
        </div>
      </div>
      <!-- TITLE END -->

      <!-- IMAGE CAROUSEL START -->
      <div class="section-content">
        <div class="row">

          <% if (listings.length> 0) { %>
            <% listings.forEach(listing=> { %>
              <div class="col-md-4 col-sm-6">
                <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                  <div class="mt-post-media mt-img-overlay7">
                    <a href="javascript:;"><img src="/uploads/<%= listing.images[0] %>" alt=""></a>
                  </div>
                  <div class="mt-post-info p-a30">
                    <div class="post-overlay-position">
                      <div class="mt-post-title ">
                        <h4 class="post-title m-b0">
                          <%= listing.title %>
                        </h4>
                      </div>
                      <div class="mt-post-text">
                        <p>
                          <%= listing.location %>
                        </p>
                      </div>
                      <div class="readmore-line">
                        <span><a href="#" class="site-button-link" data-hover="Read More">Read
                            More <i class="fa fa-angle-right arrow-animation"></i></a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
                <% } else { %>
                  <% [01,23,2].forEach(testimony=> { %>
                    <div class="col-md-4 col-sm-6">
                      <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                        <div class="mt-post-media mt-img-overlay7">
                          <a href="javascript:;"><img src="images/blog/latest-blog/pic1.jpg" alt=""></a>
                        </div>
                        <div class="mt-post-info p-a30">
                          <div class="post-overlay-position">
                            <div class="mt-post-title ">
                              <h4 class="post-title m-b0">2 Bedroom flat ,Lekki Ajah</h4>
                            </div>
                            <div class="mt-post-text">
                              <p>Which is the same as saying through shrinking from toil and pain.</p>
                            </div>
                            <div class="readmore-line">
                              <span><a href="/listings" class="site-button-link" data-hover="Read More">Read
                                  More <i class="fa fa-angle-right arrow-animation"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                      <% } %>
        </div>
      </div>
    </div>
    <div class="hilite-title text-right p-r50 text-uppercase hilite-dark">
      <strong>LATEST LISTING</strong>
    </div>
  </div>
  <!-- OUR BLOG END -->

  <!-- TESTIMONIALS SECTION START -->
  <div class="section-full mobile-page-padding p-t80 p-b50 square_shape2 bg-cover"
    style="background-image:url(images/background/bg6.jpg);">
    <div class="container">
      <div class="section-content">

        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Client</span>
                Testimonials</h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->

        <!-- TESTIMONIAL START -->
        <div class="owl-carousel testimonial-home">
          <% if (testimonies.length> 0) { %>
            <% testimonies.forEach(testimony=> { %>
              <div class="item">
                <div class="testimonial-2 m-a30 hover-animation-1">
                  <div class=" block-shadow bg-white p-a30">
                    <div class="testimonial-detail clearfix">
                      <div class="testimonial-pic radius shadow scale-in-center"><img
                          src="/uploads/<%= testimony.avatar %>" width="100" height="100" alt="">
                      </div>
                      <h4 class="testimonial-name m-b5">
                        <%= testimony.fullname %> -
                      </h4>
                      <span class="testimonial-position">
                        <%= testimony.profession %>
                      </span>
                    </div>
                    <div class="testimonial-text">
                      <span class="fa fa-quote-right"></span>
                      <p>
                        <%= testimony.testimony %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <% }) %>
                <% } else { %>
                  <% [01,23,2].forEach(testimony=> { %>
                    <div class="item">
                      <div class="testimonial-2 m-a30 hover-animation-1">
                        <div class=" block-shadow bg-white p-a30">
                          <div class="testimonial-detail clearfix">
                            <div class="testimonial-pic radius shadow scale-in-center"><img
                                src="images/testimonials/pic1.jpg" width="100" height="100" alt="">
                            </div>
                            <h4 class="testimonial-name m-b5">Taji Samuel -</h4>
                            <span class="testimonial-position">Business Person</span>
                          </div>
                          <div class="testimonial-text">
                            <span class="fa fa-quote-right"></span>
                            <p> Excellent Customer support!. The template itself is very ext
                              ended.
                              simply dummy text of the printing and industry. the printing
                              and
                              typesetting industry. Lorem Ipsum has been the industry's
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                      <% } %>


        </div>

      </div>
    </div>
    <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
      <strong>Clients</strong>
    </div>
  </div>
  <!-- TESTIMONIALS SECTION END -->
  </div>
  <!-- CONTENT END -->