<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/_head'); %>
</head>

<body>

  <div class="page-wraper">

    <!-- HEADER START -->
    <%- include('./partials/_navbar'); %>
      <!-- HEADER END -->

      <!-- CONTENT START -->
      <div class="page-content">
        <%- body %>
      </div>
      <!-- CONTENT END -->

      <!-- FOOTER START -->
      <%- include('./partials/_footer'); %>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
        <button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>

  </div>

  <!-- LOADING AREA START ===== -->
  <div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
      <div class="cssload-loader">Loading</div>
    </div>
  </div>
  <!-- LOADING AREA  END ====== -->

  <!-- JAVASCRIPT  FILES ========================================= -->
  <%- include('./partials/_script'); %>

</body>

</html>