  <!-- INNER PAGE BANNER -->
  <div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url(images/banner/4.jpg);">
    <div class="overlay-main bg-black opacity-07"></div>
      <div class="container">
          <div class="mt-bnr-inr-entry">
            <div class="banner-title-outer">
                <div class="banner-title-name">
                  <h2 class="m-b0">Page Not Found</h2>
                  </div>
              </div>
              <!-- BREADCRUMB ROW -->                            
              
                  <div>
                      <ul class="mt-breadcrumb breadcrumb-style-2">
                          <li><a href="javascript:void(0);">Home</a></li>
                          <li>Error Page</li>
                      </ul>
                  </div>
              
              <!-- BREADCRUMB ROW END -->                        
          </div>
      </div>
  </div>
  <!-- INNER PAGE BANNER END -->
   
  <!-- SECTION CONTENTG START -->
  <div class="section-full p-tb150">  
      <div class="container">
          <div class="section-content">
            <div class="page-notfound text-center">
                <strong>Page Not Found</strong>
                  <span class="title">404</span>
                  <p>The webpage you are looking for is not here!</p>
                  <a href="/" title="Back to home" class="site-button btn-effect">Back to home</a>
              </div>
          </div>
      </div>
  </div>