  <!-- INNER PAGE BANNER -->
  <div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5"
    style="background-image:url(images/banner/5.jpg);">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
      <div class="mt-bnr-inr-entry">
        <div class="banner-title-outer">
          <div class="banner-title-name">
            <h2 class="m-b0">Helping you and your house become better acquainted.</h2>
          </div>
        </div>
        <!-- BREADCRUMB ROW -->

        <div>
          <ul class="mt-breadcrumb breadcrumb-style-2">
            <li><a href="javascript:void(0);">Home</a></li>
            <li>Project Detail</li>
          </ul>
        </div>

        <!-- BREADCRUMB ROW END -->
      </div>
    </div>
  </div>
  <!-- INNER PAGE BANNER END -->

  <!-- SECTION CONTENT START -->
  <div class="section-full p-tb80 inner-page-padding">
    <div class="container">
      <div class="project-detail-outer">
        <div class="m-b0">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="project-detail-pic m-b30">
                <div class="mt-media">
                  <img src="images/projects/portrait/pic7.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="project-detail-pic m-b30">
                <div class="mt-media">
                  <img src="images/projects/portrait/pic4.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="project-detail-pic m-b30">
                <div class="mt-media">
                  <img src="images/projects/portrait/pic5.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="m-b30">
          <div class="row">
            <div class="col-md-4">
              <div class="product-block">
                <div class="row">
                  <div class="col-md-12 m-b10">
                    <h4 class="text-uppercase font-weight-600 m-b10">Date</h4>
                    <p>July 10, 2019</p>
                  </div>
                  <div class="col-md-12 m-b10">
                    <h4 class="text-uppercase font-weight-600 m-b10">Client</h4>
                    <p>Studio Massimo, Italy</p>
                  </div>
                  <div class="col-md-12 m-b10">
                    <h4 class="text-uppercase font-weight-600 m-b10">Project type</h4>
                    <p>Contruction, Brading</p>
                  </div>
                  <div class="col-md-12 m-b10">
                    <h4 class="text-uppercase font-weight-600 m-b10">Location</h4>
                    <p>Mountain View CA 94043</p>
                  </div>
                  <div class="col-md-12 m-b10">
                    <h4 class="text-uppercase font-weight-600 m-b10">Year</h4>
                    <p>2019</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="mt-box">
                <div class="mt-thum-bx mt-img-overlay1 mt-img-effect yt-thum-box">
                  <img src="../../i3.ytimg.com/vi/s3A7AK1K2hc/maxresdefault.jpg" alt="">
                  <a href="https://www.youtube.com/watch?v=s3A7AK1K2hc" class="mfp-video play-now">
                    <i class="icon fa fa-play"></i>
                    <span class="ripple"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="project-detail-containt">
          <div class="bg-white text-black">
            <h3 class="font-weight-600">Creating a sustainable future through building preservation, green architecture,
              and smart design</h3>
            <p> Designers think everything done by someone else is awful, and that they could do it better themselves,
              which explains why I designed my own living room carpet, I suppose. the architect represents neither a
              Dionysian nor an Apollinian condition: here it is the mighty act of will, the will which moves mountains,
              the intoxication of the strong will, which demands artistic expression. The most powerful men have always
              inspired the architects; the architect has always been influenced by power.</p>
            <p>Tincidunt integer euaugue augue nunc elit dolor luctus placerat scelerisque euismod lorem. Utenim ad
              minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Tincidunt integer eu
              augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elite sit amet
              justo nunc tempore. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt
              ut ore magna aliqua. Arullamco laboris nisi ut aliquip ex ea commodo. Tincidunt integer eu augue augue
              nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elite sit amet justo nunc
              tempore. Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt ut ore
              magna aliqua. </p>


            <div class="m-b0">
              <div class="mt-divider divider-1px  bg-black"><i class="icon-dot c-square"></i></div>
            </div>
            <ul class="social-icons social-square social-darkest m-b0">
              <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
              <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
              <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
              <li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
              <li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
              <li><a href="javascript:void(0);" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- SECTION CONTENT END  -->