 <!-- INNER PAGE BANNER -->
 <div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center"  data-stellar-background-ratio="0.5"  style="background-image:url(images/banner/1.jpg);">
  <div class="overlay-main bg-black opacity-07"></div>
    <div class="container">
        <div class="mt-bnr-inr-entry">
          <div class="banner-title-outer">
              <div class="banner-title-name">
                <h2 class="m-b0">Creating quality urban lifestyles, building stronger communities.</h2>
                </div>
            </div>
            <!-- BREADCRUMB ROW -->                            
            
                <div>
                    <ul class="mt-breadcrumb breadcrumb-style-2">
                        <li><a href="javascript:void(0);">Home</a></li>
                        <li>Listings</li>
                    </ul>
                </div>
            
            <!-- BREADCRUMB ROW END -->                        
        </div>
    </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-tb80 bg-gray inner-page-padding">

    <!-- GALLERY CONTENT START -->
    <div class="container-fluid">
        <!-- PAGINATION START -->
        <!-- <div class="filter-wrap p-b30 text-center">
            <ul class="filter-navigation inline-navigation masonry-filter link-style  text-uppercase">
                    <li class="active"><a data-filter="*" href="#" data-hover="All">All</a></li>
                    <li><a data-filter=".cat-1" href="#" data-hover="Construction">Construction</a></li>
                    <li><a data-filter=".cat-2" href="#" data-hover="Renovation">Renovation</a></li>
                    <li><a data-filter=".cat-3" href="#" data-hover="Outdoor">Outdoor</a></li>
                    <li><a data-filter=".cat-4" href="#" data-hover="Interiors">Interiors </a></li>
                    <li><a data-filter=".cat-5" href="#" data-hover="Consulting">Consulting</a></li>
            </ul>
        </div> -->
        <!-- PAGINATION END -->                
        <!-- GALLERY CONTENT START -->

         <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
            <!-- COLUMNS 1 -->
            
        <% if (listings.length>0) { %>
         <% listings.forEach(listing=> { %>
            <div class="masonry-item cat-1  col-lg-3 col-md-4 col-sm-6 m-b30">
                <div class="project-classic">
                      <div class="mt-box ">
                          <div class="mt-thum-bx  img-center-icon  mt-img-overlay2">
                              <img src=<%=`/uploads/${listing.images[0]}`%> alt="">
                              <div class="overlay-bx">
                                  <div class="overlay-icon">
                                      <a href="#">
                                      <!-- <a href="/listings/<%=listing._id %>/details"> -->
                                          <i class="fa fa-external-link mt-icon-box-xs "></i>
                                      </a>
                                      <a class="mfp-link" href=<%=`/uploads/${listing.images[0]}`%>>
                                          <i class="fa fa-arrows-alt mt-icon-box-xs"></i>
                                      </a>
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="mt-info p-t20">
                          <h4 class="mt-title m-b20 m-t0" data-hover="<%= listing?.title %>"><%= listing?.title %> </h4>
                          <p><%= listing?.description%></p>
        <a href="#" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>                               
                       </div>
                  </div>
              </div>
         <% }) %>
            <% } else { %>
                <% [1,2,3,6].forEach(element => { %>
                    <div class="masonry-item cat-1  col-lg-3 col-md-4 col-sm-6 m-b30">
                        <div class="project-classic">
                              <div class="mt-box ">
                                  <div class="mt-thum-bx  img-center-icon  mt-img-overlay2">
                                      <img src="images/projects/square/pic4.jpg" alt="">
                                      <div class="overlay-bx">
                                          <div class="overlay-icon">
                                              <a href="project-detail.html">
                                                  <i class="fa fa-external-link mt-icon-box-xs "></i>
                                              </a>
                                              <a class="mfp-link" href="images/projects/square/pic4.jpg">
                                                  <i class="fa fa-arrows-alt mt-icon-box-xs"></i>
                                              </a>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="mt-info p-t20">
                                  <h4 class="mt-title m-b20 m-t0" data-hover="Stronger communities">Stronger communities</h4>
                                  <p>This is ipsum dolor sitamet, consectetur adipisi cing elito, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                <a href="#" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>                               
                               </div>
                          </div>
                      </div>
                 <% }) %>
        <% } %>
            
         </div>
        <!-- GALLERY CONTENT END -->

        <div class="m-t50 text-center">
          <a href="#" class="site-button btn-effect">Load More</a>
        </div>                     
    </div>
    <!-- GALLERY CONTENT END -->

</div>
<!-- SECTION CONTENT END  -->