<!-- INNER PAGE BANNER -->
<div class="mt-bnr-inr overlay-wraper bg-parallax bg-top-center" data-stellar-background-ratio="0.5" style="background-image:url(images/banner/1.jpg);">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container">
    <div class="mt-bnr-inr-entry">
      <div class="banner-title-outer">
        <div class="banner-title-name">
          <h2 class="m-b0">Diversified services. Unvarying quality.</h2>
        </div>
      </div>
      <!-- BREADCRUMB ROW -->

      <div>
        <ul class="mt-breadcrumb breadcrumb-style-2">
          <li><a href="javascript:void(0);">Home</a></li>
          <li>Services</li>
        </ul>
      </div>

      <!-- BREADCRUMB ROW END -->
    </div>
  </div>
</div>
<!-- INNER PAGE BANNER END -->

<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-t80 bg-white">
  <div class="container">
    <div class="section-content ">
      <div class="m-service-containt text-black">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="service-about-left">
              <div class="mt-media">
                <img src="/uploads/<%=featured_images[0]?.image%>"  alt="">
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="service-about-right m-b30">
              <h3 class="m-t0"><%= mission?.title?mission?.title:`In our work we have pride, quality is what we provide.` %> </h3>
              <p><%= aboutUs?.about_us?aboutUs?.about_us:`Dummy text is also used to demonstrate the appearance of different typefaces and layouts, and in
                general the content of dummy text is nonsensical. Due to its widespread use texts. Ut wisi enim ad minim
                veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat. Duis autem vel eum iriure dolor in hendrerit in vulputa cumsan et iusto odio dignissim qui
                blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.` %> </p>
              <div class="call-for-quote-outer">
                <div class="call-quote">
                  <span>Call For a Quote:</span>
                  <h4>+234 814 300 0070</h4>
                </div>
                <!-- <div class="call-estimate bg-dark">
                  <a href="javascript:;" class="site-button-secondry btn-effect">Online Estimate Form</a>
                </div> -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT COMPANY SECTION END -->

<!-- OUR SPECIALLIZATION START -->
<div class="section-full p-t80 p-b30 bg-dark" style="background-image:url(images/background/bg-6.png);">
  <div class="container">
    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="section-head m-b50 text-white text-center">
        <h3 class="m-t0"><%= value?.title?? '' %> </h3>
        <!-- <p>Wisi enim ad minim veniam, quis nostrud exerci tation ullamcorperadipiscing elit, sed diam nonummy
          nibh suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p> -->
      </div>
      <div class="row">
        <% if (featured_images.length>0) { %>
         <% featured_images.forEach((image,index) => { %>
          <div class="col-md-4 col-sm-6 m-b30">
            <div class="image-effect-one hover-shadow">
              <img src="/uploads/<%=image?.image%>" alt="" />
              <div class="figcaption">
                <h4><%= services[index].service %> </h4>
                <p><%= services[index].summary %> </p>
                <a href="#"><i class="link-plus bg-primary"></i></a>
              </div>
            </div>
  
          </div>
          
         <% }) %>
          <% } else { %>
            <div class="col-md-4 col-sm-6 m-b30">
              <div class="image-effect-one hover-shadow">
                <img src="images/services/1.jpg" alt="" />
                <div class="figcaption">
                  <h4>Project Listings</h4>
                  <!-- <p>Est notare quam littera gothica, quam nunc putamus parum claram.</p> -->
                  <a href="#"><i class="link-plus bg-primary"></i></a>
                </div>
              </div>
    
            </div>
            
        <% } %>

      </div>
    </div>
  </div>
</div>
<!-- OUR SPECIALLIZATION END -->

<!-- OUR All SERVICES START -->
<div class="section-full p-t80 p-b50 bg-white" style="background-image:url(images/background/bg-5.png);">

  <div class="container">

    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">All</span> Services</h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->

    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row">
        <% if (services.length>0) { %>
        <% services.forEach(service => { %>
        <div class="col-md-4 col-sm-6">
          <div class="mt-icon-box-wraper p-a30 center m-b30 box-shadow bg-white">
            <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-primary  scale-in-center bg-moving" style="background-image:url(images/background/line.png)">
              <span class="icon-cell text-secondry"><i class="flaticon-city"></i></span>
            </div>
            <div class="icon-content">
              <h4 class="mt-tilte text-uppercase font-weight-600 m-b20"><%= service.service %> </h4>
              <p><%= service.summary %> </p>
              <!-- <a href="#" class="site-button-link" data-hover="Read More">Read More <i
                      class="fa fa-angle-right arrow-animation"></i></a> -->
            </div>
          </div>
        </div>
        <% }) %>
        <% } else { %>
        <% services.forEach(service => { %>
        <div class="col-md-4 col-sm-6">
          <div class="mt-icon-box-wraper p-a30 center m-b30 box-shadow bg-white">
            <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-primary  scale-in-center bg-moving" style="background-image:url(images/background/line.png)">
              <span class="icon-cell text-secondry"><i class="flaticon-city"></i></span>
            </div>
            <div class="icon-content">
              <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">Rooms & Halls</h4>
              <p>Typefaces and layouts, and in appearance of different general the content of dorem ipsum dolor
                sit amet</p>
              <!-- <a href="#" class="site-button-link" data-hover="Read More">Read More <i
                        class="fa fa-angle-right arrow-animation"></i></a> -->
            </div>
          </div>
        </div>
        <% }) %>
        <% } %>
      </div>
    </div>

  </div>
</div>

<!-- OUR All SERVICES END -->

<!-- ABOUT COMPANY SECTION START -->
<div class="section-full p-t80 p-b50 bg-gray bg-no-repeat bg-bottom-right" style="background-image:url(images/background/bg-4.png);">
  <div class="container">
    <div class="section-content ">
      <div class="row">
        <div class="col-md-7 col-sm-6  m-b30">
          <div class="brochur bg-dark p-a20">
            <div class="row">
              <div class="col-md-6">
                <div class="p-a30 bg-primary bg-bottom-right" style="background-image:url(images/background/bg-site.png);">
                  <div class="text-black">
                    <h4 class="mt-tilte m-t0"><%= value?.title??'' %> </h4>
                    <p><%= value?.value??'' %> </p>
                    <!-- <a href="javascript:;" class="site-button-secondry btn-half"><span> Download brochure</span></a> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-white p-r15">
                  <h4 class="mt-tilte">Let's help you!</h4>
                  <p><%= mission?.mission??'' %></p>
                  <a href="/contact_us:;" class="site-button btn-effect">Contact Us</a>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 m-b30">
          <div class="our-exp">
            <div class="mt-box">
              <h3 class="m-t0"><span class="font-weight-100"> We have</span><span class="text-primary"> 15 years</span>
                experience in construction</h3>
            </div>
            <span class="progressText text-black"><B>Architecher</B></span>
            <div class="progress mt-probar-1  m-b30 m-t10">
              <div class="progress-bar bg-primary " role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <span class="popOver" data-toggle="tooltips" data-placement="top" title="85%"></span>
              </div>
            </div>

            <span class="progressText text-black"><B>Construction</B></span>
            <div class="progress mt-probar-1 m-b30 m-t10">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100">
                <span class="popOver" data-toggle="tooltips" data-placement="top" title="78%"></span>
              </div>
            </div>


            <span class="progressText text-black"><B>Interior</B></span>
            <div class="progress mt-probar-1 m-b30 m-t10">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <span class="popOver" data-toggle="tooltips" data-placement="top" title="40%"></span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ABOUT COMPANY SECTION END -->

<!-- SECTION CONTENT START -->
<div class="section-full p-t80 p-b50 bg-parallax bg-cover" data-stellar-background-ratio="0.5" style="background-image:url(images/background/bg5.jpg);">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator text-white">
          <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Project</h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->
    <!-- PAGINATION START -->
    <!-- <div class="filter-wrap p-b15 center">
      <ul class="masonry-filter link-style  text-uppercase white">
        <li class="active"><a data-filter="*" href="#">All</a></li>
        <li><a data-filter=".cat-1" href="#">Construction</a></li>
        <li><a data-filter=".cat-2" href="#">Renovation</a></li>
        <li><a data-filter=".cat-3" href="#">Outdoor</a></li>
        <li><a data-filter=".cat-4" href="#">Interiors </a></li>
        <li><a data-filter=".cat-5" href="#">Consulting</a></li>
      </ul>
    </div> -->
    <!-- PAGINATION END -->

    <!-- GALLERY CONTENT START -->
    <div class="portfolio-wrap mfp-gallery work-grid row clearfix">
     <% if (listings.length>0) { %>
      <% listings.forEach(listing=> { %>
        <!-- COLUMNS 1 -->
      <div class="masonry-item cat-1  col-md-3 col-sm-6 m-b30">
        <div class="mt-box   image-hover-block">
          <div class="mt-thum-bx">
            <img src=<%=`/uploads/${listing?.images[0]}`%> alt="">
          </div>
          <div class="mt-info  p-t20 text-white">
            <h4 class="mt-tilte m-b10 m-t0"><%= listing?.title %></h4>
            <p class="m-b0"><%= listing?.description %></p>
          </div>
          <a href="#"></a>
        </div>
      </div>
      <% }) %>
      <% } else { %>
        <% [1,3,3].forEach(element => { %>
          <!-- COLUMNS 1 -->
        <div class="masonry-item cat-1  col-md-3 col-sm-6 m-b30">
          <div class="mt-box   image-hover-block">
            <div class="mt-thum-bx">
              <img src="images/services/service-projects/shooping-mall.jpg" alt="">
            </div>
            <div class="mt-info  p-t20 text-white">
              <h4 class="mt-tilte m-b10 m-t0">Shopping Mall</h4>
              <p class="m-b0">Muscat, Sultanate of Oman</p>
            </div>
            <a href="#"></a>
          </div>
        </div>
        <% }) %>
     <% } %>
     

    </div>
    <!-- GALLERY CONTENT END -->
  </div>


</div>
<!-- SECTION CONTENT END  -->

<!-- FAQ START -->
<div class="section-full p-t80 p-b50 bg-white inner-page-padding">

  <div class="container">


    <!-- IMAGE CAROUSEL START -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-6 col-sm-6">

          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-left">
              <div class="mt-separator">
                <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Some</span> FAQ</h2>
              </div>
            </div>
          </div>
          <!-- TITLE END -->

          <div class="section-content p-b30">
            <div class="mt-accordion acc-bg-gray" id="accordion5">
              <% if (faqs.length>0) { %>
              <% faqs.forEach((faq,index) => { %>
              <div class="panel mt-panel">
                <div class="acod-head acc-actives">
                  <h4 class="acod-title">
                    <a data-toggle="collapse" href="<%= `#collapse_${index}` %>" data-parent="#accordion5">
                      <%= faq?.question%>
                      <span class="indicator"><i class="fa fa-plus"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="collapse_<%= index %>" class="acod-body collapse out">
                  <div class="acod-content p-tb15">
                    <%= faq?.answer %>
                  </div>
                </div>
              </div>
              <% }) %>
              <% } else { %>
              <div class="panel mt-panel">
                <div class="acod-head acc-actives">
                  <h4 class="acod-title">
                    <a data-toggle="collapse" href="#collapseOne5" data-parent="#accordion5">
                      How do we work?
                      <span class="indicator"><i class="fa fa-plus"></i></span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne5" class="acod-body collapse in">
                  <div class="acod-content p-tb15">
                    Progressively generate synergistic total linkage through cross-media intellectual capital.
                    Enthusiastically parallel task team building e-tailers without standards compliant initiatives.
                    Progressively monetize client-centric outsourcing with excellent communities. It has survived not only
                    five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">

          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-left">
              <div class="mt-separator">
                <h2 class="text-uppercase sep-line-one "><span class="font-weight-300 text-primary">Our</span> Solution
                </h2>
              </div>
            </div>
          </div>
          <!-- TITLE END -->
          <div class="row">
            <% if (services.length>0) { %>
            <div class="col-md-6">
              <div class="mt-icon-box-wraper p-a25 m-b30 onhover-box-shadow bg-gray center">
                <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-secondry  scale-in-center">
                  <span class="icon-cell text-primary"><i class="flaticon-sketch"></i></span>
                </div>
                <div class="icon-content text-black">
                  <h4 class="mt-tilte text-uppercase font-weight-600 m-b20"><%= services[0].service %> </h4>
                  <p><%= services[0].summary %></p>
                  <a href="#" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                </div>
              </div>
            </div>
            <% if (services.length>3) { %>
            <div class="col-md-6">
              <div class="mt-icon-box-wraper p-a25 m-b30 onhover-box-shadow bg-gray center">
                <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-secondry  scale-in-center">
                  <span class="icon-cell text-primary"><i class="flaticon-sketch"></i></span>
                </div>
                <div class="icon-content text-black">
                  <h4 class="mt-tilte text-uppercase font-weight-600 m-b20"><%= services[2].service %> </h4>
                  <p><%= services[2].summary %></p>
                  <a href="#" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                </div>
              </div>
            </div>

            <% } %>
            <% } else { %>
            <div class="col-md-6">
              <div class="mt-icon-box-wraper p-a25 m-b30 onhover-box-shadow bg-gray center">
                <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-secondry  scale-in-center">
                  <span class="icon-cell text-primary"><i class="flaticon-sketch"></i></span>
                </div>
                <div class="icon-content text-black">
                  <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">Assistance</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and setting as Planning.</p>
                  <a href="#" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mt-icon-box-wraper p-a25 m-b30 onhover-box-shadow bg-black center">
                <div class="mt-icon-box-sm inline-icon text-primary  m-b20 radius bg-secondry  scale-in-center">
                  <span class="icon-cell text-primary"><i class="flaticon-sketch"></i></span>
                </div>
                <div class="icon-content text-black">
                  <h4 class="mt-tilte text-uppercase font-weight-600 m-b20">Assistance</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and setting as Planning.</p>
                  <a href="#" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
                </div>
              </div>
            </div>
            <% } %>

          </div>
        </div>
      </div>
    </div>

  </div>
  </div>  

  <!-- FAQ -->