<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Edit Team Info <%= data?.no %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <% if (Object.keys(message).length> 0) { %>
          <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form action="<%=`/admin/properties/${data?._id }/update?_method=PUT`%>" method="POST">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" placeholder="Jane Doe" name="title" id="title"
                            required value="<%= data?.title %>" />
                        </div>
                        <div class="form-group">
                          <label for="location">Location</label>
                          <input type="text" class="form-control" placeholder="Director" name="location" id="location"
                            required value="<%= data?.location %>"/>
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea id="description" cols="30" rows="10" class="form-control" name="description" required><%= data?.description %></textarea>
                        </div>
                        <div>
                          <div>
                            <label for="images">Images</label>
                            <input name="images" type="file" class="file" id="images" accept="image/*" style=" visibility: hidden;
                            position: absolute;">
                            <div class="input-group my-3">
                              <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
                              <div class="input-group-append">
                                <button type="button" class="browse btn btn-primary">Browse...</button>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3 col-sm-3"></div>
                            <div class="col-md-6 col-sm-6">
                              <button type="submit" class="btn btn-primary btn-block">Update</button>
                            </div>
                            <div class="col-md-3 col-sm-3"></div>
                          </div>

                      </form>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
      </div>
    </div>
  </div>
</div>