<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Properties Section
          </div>
        </div>
        <div class="page-title-actions">
          <div class="d-inline-block dropdown">
            <a role="button" href="/admin/properties/create" aria-expanded="false" class="btn-shadow btn btn-info">
              <span class="btn-icon-wrapper pr-2 opacity-7">
                <i class="fa fa-plus fa-w-20"></i>
              </span>
              Add New Property
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xl-2">
        <div class="card mb-3 widget-content bg-grow-early">
          <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
              <a href="/admin/listings" class="text-white">
                <div class="widget-heading"> Sub Estates
                </div>
              </a>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers text-white"><span>
                  <%= count.listings %>
                </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- table -->
    <div class="row">
      <div class="col-md-12">
        <div class="main-card mb-3 card">
          <div class="card-header">All Properties
          </div>

          <div class="table-responsive">
            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th>Title</th>
                  <th>Location</th>
                  <th>Description</th>
                  <th class="text-center">Images</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% if (data.length>0) { %>
                  <% data.forEach(element=> { %>
                    <tr>
                      <td class="text-center text-muted">
                        <%= element._id %>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading">
                            <%= element.title %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading">
                            <%= element.location %>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="widget-content p-0">
                          <div class="widget-heading">
                            <%= element.description %>
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="row">
                          <% element.images.forEach((image,index)=> { %>
                            <div class="col">
                              <img src="/uploads/<%= image %>" alt=<%`property_${element.title}_${index}`%>
                              class="img-thumbmail" style="height: 50px;">
                            </div>
                            <% }) %>
                        </div>
                      </td>
                      <td class="text-center">
                        <a role="button" class="btn btn-danger btn-sm"
                          href="<%= `/admin/properties/${element._id}/delete?_method=DELETE` %>"
                          onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                        <a role="button" class="btn btn-success btn-sm"
                          href="/admin/properties/<%= element._id%>/edit">Edit</a>
                      </td>
                    </tr>
                    <% }) %>

                      <% } else { %>
                        <div>
                          <td class="text-center text-muted">
                          </td>
                          <td class="text-center text-muted">
                            Nothing to show now
                          </td>
                          <td class="text-center text-muted">
                          </td>
                        </div>
                        <% } %>
              </tbody>
            </table>
          </div>
          <!-- <div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper">
              </i></button>
            <button class="btn-wide btn btn-success">Save</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>