<div class="app-header header-shadow">
  <div class="app-header__logo">
    <div class="brand">Garden of Peace Estate</div>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
    <form action="/admin/logout" method="post">
      <input type="submit" value="Logout">
    </form>
  </div>
  <div class="app-header__content">
    <div class="app-header-right">
      <div class="header-btn-lg pr-0">
        <div class="widget-content p-0">
          <div class="widget-content-wrapper">

            <div class="widget-content-left  ml-3 header-user-info">
              <div class="widget-heading">
                Administrator
              </div>
              <!-- <div class="widget-subheading">
                VP People Manager
              </div> -->
            </div>
            <div class="widget-content-right header-user-info ml-3">

              <form action="/admin/logout" method="post">
                <input type="submit" value="Logout">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>