<div class="app-sidebar sidebar-shadow">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ml-auto">
      <div>
        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="app-header__mobile-menu">
    <div>
      <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-header__menu">
    <span>
      <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
        <span class="btn-icon-wrapper">
          <i class="fa fa-ellipsis-v fa-w-6"></i>
        </span>
      </button>
    </span>
  </div>
  <div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
      <ul class="vertical-nav-menu">
        <li>
          <a href="/admin/">
            <i class="metismenu-icon pe-7s-science"></i>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/admin/admins/">
            <i class="metismenu-icon pe-7s-user"></i>
            Admin Users
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/admins/">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/admins/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/sliders/">
            <i class="metismenu-icon pe-7s-photo"></i>
            Sliders
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/sliders/">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/sliders/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/services/">
            <i class="metismenu-icon pe-7s-display1"></i>
            Services
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/services">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/services/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/properties">
            <i class="metismenu-icon pe-7s-culture"></i>
            Properties
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/properties">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/properties/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/listings">
            <i class="metismenu-icon pe-7s-culture"></i>
            Sub Estates
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/listings">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/listings/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>
            <li>
              <a href="/admin/clients_request">
                <i class="metismenu-icon">
                </i>Client Message Request
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/testimonies">
            <i class="metismenu-icon pe-7s-like2"></i>
            Client Testimonies
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/testimonies">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/testimonies/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/client_messages">
            <i class="metismenu-icon pe-7s-like2"></i>
            Client Messages
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/client_messages">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/admin/teams">
            <i class="metismenu-icon pe-7s-add-user"></i>
            Team
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/teams">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/teams/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/abouts">
            <i class="metismenu-icon pe-7s-global"></i>
            About
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/abouts">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/abouts/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/faqs">
            <i class="metismenu-icon pe-7s-help1"></i>
            FAQ
            <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/faqs">
                <i class="metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/faqs/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/admin/generals">
            <i class=" metismenu-icon pe-7s-settings"></i>
            Generals <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
          </a>
          <ul>
            <li>
              <a href="/admin/generals">
                <i class=" metismenu-icon"></i>
                Get All
              </a>
            </li>
            <li>
              <a href="/admin/generals/create">
                <i class="metismenu-icon">
                </i>Add New
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>