<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>Add General Info
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <% if (Object.keys(message).length> 0) { %>
          <% if (message.type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>
                <%= message.msg %>
              </strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } else { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                  <%= message.msg %>
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
                <% } %>
                  <div class="card-shadow-success pt-3 pb-3 pr-3 pl-3">
                    <div class="widget-content-wrapper">
                      <form action="/admin/generals/create" method="POST">
                        <div class="form-group">
                          <label for="ceo">CEO Name</label>
                          <input id="ceo" type="text" class="form-control" name="ceo"></input>
                        </div>
                        <div class="form-group">
                          <label for="experience">Years of Experience</label>
                          <input id="experience" type="text" class="form-control" name="experience"></input>
                        </div>
                        <div class="form-group">
                          <label for="expert_no">Active Experts</label>
                          <input id="expert_no" type="text" class="form-control" name="expert_no"></input>
                        </div>
                        <div class="form-group">
                          <label for="client_no">Total Satisfied Clients</label>
                          <input id="client_no" class="form-control" name="client_no" />
                        </div>
                        <div class="form-group">
                          <label for="project_no">To Project Handled</label>
                          <input id="project_no" class="form-control" name="project_no" />
                        </div>
                        <div class="row">
                          <div class="col-md-3 col-sm-3"></div>
                          <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block">Add</button>
                          </div>
                          <div class="col-md-3 col-sm-3"></div>
                        </div>

                      </form>
                    </div>
                  </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>