<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="app-page-title">
      <div class="page-title-wrapper">
        <div class="page-title-heading">
          <div>General Section

          </div>
        </div>
        <% if (data.length<1) { %>
          <div class="page-title-actions">
            <div class="d-inline-block dropdown">
              <a role="button" href="/admin/generals/create" aria-expanded="false" class="btn-shadow btn btn-info">
                <span class="btn-icon-wrapper pr-2 opacity-7">
                  <i class="fa fa-plus fa-w-20"></i>
                </span>
                Add General Info
              </a>
            </div>
          </div>
          <% } %>
      </div>
    </div>
    <% if (Object.keys(messages).length> 0) { %>
      <% if (messages.info ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
            <%= messages.info %>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } else { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>
              <%= messages.error %>
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% } %>
            <% } %>

              <!-- table -->
              <div class="row">
                <div class="col-md-12">
                  <div class="main-card mb-3 card">
                    <div class="card-header">Mission Statement
                    </div>
                    <div class="table-responsive">
                      <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>CEO Name</th>
                            <th>Years of Exp</th>
                            <th>Active Experts</th>
                            <th>Total Client</th>
                            <th>Total Project</th>
                            <th class="text-center">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if (data.length>0) { %>
                            <% data.forEach(element=> { %>
                              <tr>
                                <td class="text-center text-muted">
                                  <%= element._id %>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.ceo %>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.experience %>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.expert_no %>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.client_no %>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="widget-content p-0">
                                    <div class="widget-heading">
                                      <%= element.project_no %>
                                    </div>
                                  </div>
                                </td>
                                <td class="text-center">
                                  <a role="button" class="btn btn-danger btn-sm"
                                    href="<%= `/admin/generals/${element._id}/delete?_method=DELETE` %>"
                                    onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                                  <a role="button" class="btn btn-success btn-sm"
                                    href="/admin/generals/<%= element._id%>/edit">Edit</a>
                                </td>
                              </tr>
                              <% }) %>

                                <% } else { %>
                                  <div>
                                    <td class="text-center text-muted">
                                    </td>
                                    <td class="text-center text-muted">
                                      Nothing to show now
                                    </td>
                                    <td class="text-center text-muted">
                                    </td>
                                  </div>
                                  <% } %>
                        </tbody>
                      </table>
                    </div>
                    <!-- <div class="d-block text-center card-footer">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper">
              </i></button>
            <button class="btn-wide btn btn-success">Save</button>
          </div> -->
                  </div>
                </div>
              </div>
  </div>
</div>